[2015-11-10 15:49] gregwebs commented on #506
You can export them and possibly add some comments there

[2015-11-10 15:51] mrkkrp commented on #506
Right! `$name` syntax should help. Closing this for now.

[2015-11-10 15:51] #506 closed

[2015-11-11 08:04] lennart opened #507 "Update custom persist field example in book"
coming from the wiki page here that has the example with a custom field for `Persistent` fixed, it would be great if the missing:

[code]

could be added in the [persistent custom fields chapter of the book](http://www.yesodweb.com/book/persistent#persistent_custom_fields)

[2015-11-11 11:27] mrkkrp opened #508 "Can Numeric.Natural be used with persistent?"
There is `Numeric.Natural` for natural numbers, it's in `base` now. Can I use it with persistent? I think it's basically about marchalling `Natural` to `Int` and back. Maybe you can add support for it?

For now I would appreciate an advice how to make `persistent` work with `Natural` just in my project. Is it possible?

[2015-11-11 16:10] gregwebs commented on #508
Seems yesodweb.com is down at the moment. First you need a PersistField instance. Since this is in base now (but not in older versions?) we can certainly add the instance to persistent.

http://hackage.haskell.org/package/persistent-2.2.2/docs/Database-Persist-Class.html#t:PersistField

I am not familiar with `Natural`, but like you said we just need the conversion functions (concretely to `Int64`

[2015-11-11 16:11] gregwebs commented on #507
wouldn't that only be needed if `NoImplicitPrelude` is used?

[2015-11-11 16:20] mrkkrp commented on #508
@gregwebs, I could add `PersistField`, but that will be orphan instance. I could make a wrapper, but it's kinda hairy. How long could it take to add this to persistent? (Just asking, I'll probably use `Int` for now.)

[2015-11-11 16:23] gregwebs commented on #508
I can add it to persistent today, just need the conversion functions (or better yet the full instance). As a side note only libraries must always avoid orphans, you can use them in an application if you exercise care.

[2015-11-11 16:24] lennart commented on #507
Um, I did not modify anything in the default generated yesod scaffold, so this sounds like it is using exactly that.

However, up to now, I wasn't even aware of this extension?!

In any case, Wiki and book should be in sync, right?

[2015-11-11 16:26] mrkkrp commented on #508
@gregwebs, Yes I know about problems of orphan instances and when they arise, but I'm writing reusable code now that a couple of other packages will import, so I don't want to have orphan instances.

[2015-11-11 16:33] mrkkrp commented on #508
@gregwebs, If you add `Numeric.Natural` to persistent today, it will take some time to release new version of the library I could actually use. Can you tell when it will happen approximately?

[2015-11-11 17:00] gregwebs commented on #508
I don't put deadlines on open source work.

Just need the conversion functions...

[2015-11-11 17:07] mrkkrp commented on #508
@gregwebs, `fromIntegral` should work.

[2015-11-12 01:25] psibi commented on #507
I think every chapter in the book is an self contained unit without depending on yesod scaffold.

[2015-11-12 04:28] #274 closed

[2015-11-12 07:15] lennart commented on #507
right. maybe it should not be cluttering the but.

but the scaffold generate a .cabal file for me that uses: `NoImplicitPrelude`

I guess it should somehow be noted within the documentation of the scaffold itself, there is a chapter or a page on the yesod homepage referring to the scaffold?

Maybe this is just something people will be stumbling upon that already know a bit of haskell, and did not

[2015-11-12 07:15] #507 closed

[2015-11-13 09:15] mrkkrp commented on #508
@gregwebs, What to do after making some type instance of `PersistField`? I'm getting this:

[code]

Should I make it instance of `PersistFieldSql`? Is the whole procedure described somewhere? If so, a link would suffice. Thanks for your help, sorry if I ask too many questions.

[2015-11-13 11:45] gregwebs commented on #508
do share your instance! A PersistFieldSql definition is needed also. If that is not explained in the book I can add it to the persistent docs.

[2015-11-13 11:54] mrkkrp commented on #508
Oh, I deleted that my comment because I think I've handled this myself. Here, however, is a my wrapper to have type-safe slugs (maybe there is something wrong with it):

[code]

[2015-11-15 14:49] gregwebs commented on #508
I would hesitate to customize the `Show` instance for a newtype. `Read`/`Show` have a role in debugging and one can use a separate mechanism for pretty-printing.

Do you have `Natural` instances?

[2015-11-16 16:41] mrkkrp commented on #508
Currently not. I use `Int`s, although I plan to switch to `Natural` as soon as it's supported in `persistent`. Here is how I would go about defining such instance, though:

[code]

[2015-11-16 17:00] mrkkrp opened #511 "A question about joins"
I have this fragment describing `Notification` and `Notified` entities:

[code]

Now I want to write this:

[code]

This works, but extracting list of notifications as *a list* and then using it to select things in another table… well that's not exactly right. Obviously I need a join here and then I will be able to update everything efficiently.

How to do it in pure `persistent`? Is it possible a

[2015-11-16 19:07] gregwebs commented on #511
I didn't look at this in great detail, but yes Esqueleto if you want to do joins. Persistent works well with *embedding* data if your DB and your data modeling support that.

[2015-11-16 19:10] gregwebs commented on #511
Can you improve the [README](https://github.com/yesodweb/persistent/blob/master/README.md) or other documentation to make this clearer?

[2015-11-16 19:20] meteficha commented on #511
Wrote [a reply](https://stackoverflow.com/a/33742914/606463) there to get you started, @mrkkrp.

[2015-11-17 07:09] mrkkrp commented on #511
@meteficha, Thank you, closing this.

@gregwebs, I'm not sure what exactly should be edited. I think it would be great if Yesod book had a section demonstrating something like that my case and pointed out that `esqueleto` might be useful.

[2015-11-17 07:09] #511 closed

[2015-11-18 09:18] mrkkrp opened #512 "Run actions on database from IO monad"
In short, my question is already in the title of the issue, however, I think it's not impossible that my understanding and thus approach is wrong and so I'm going to provide background of what I'm trying to accomplish.

I have an action that deals with files on server. It doesn't know anything about database, it's just a thing that takes some arguments and generates/saves some files. Main problem

[2015-11-18 13:02] gregwebs commented on #512
This question doesn't really have anything to do with persistent: it is really about how to use async and monad stacks in general.

In your case you might use lifted-async
http://haddock.stackage.org/lts-3.14/lifted-async-0.7.0.1/Control-Concurrent-Async-Lifted-Safe.html#v:withAsync

But given that you are already waiting for the async it doesn't seem like you need to run the db action in a `with`

[2015-11-18 13:02] #512 closed

[2015-11-18 13:41] mrkkrp commented on #512
Indeed, sorry for annoyance!

Exception catching and database operations probably should be put in asynchronous action itself and then there is no point in waiting for it (testing?).

[2015-11-29 18:00] gregwebs commented on #508
this is on hackage now

[2015-11-29 18:00] #508 closed

[2015-11-29 18:06] mrkkrp commented on #508
Thank you!

[2015-12-08 09:16] nmk opened #514 "In persistent-postgresql defining the sqltype of a field as "timestamp without time zone" causes remigrations"
When using persistent with PostgreSQL and having the following definition
[code]
causes a
[code]
every time the migrations are run. The type of the field in the DB is set correctly the first time, I would expect it not to issue an `ALTER` statement every time.

Is this a (quoting?) problem with my field definition or is persistent not getting the correct column type when calculating the necessary

[2015-12-09 07:23] snoyberg commented on #514
This is likely a quoting or capitalization problem. Two ways of debugging this are:

* Add some trace statements into the migration code in the persistent-postgresql package to see what Persistent thinks is in your database
* Analyze the metadata tables referenced from persistent-postgresql to see what the column looks like

[2015-12-09 10:50] nmk commented on #514
It turns out in PostgreSQL `timestamp` and `timestamp without time zone` are synonyms and the `udt_name` of such a column is reported simply as `timestamp`, see first note on http://www.postgresql.org/docs/current/static/datatype-datetime.html. So one option is to define the `sqltype=` as `timestamp`, the other is to add an alias in `sqlShowType` such as
[code]
in Database.Persist.Postgresql.

[2015-12-09 10:54] snoyberg commented on #514
The latter seems like it could cause problems for people using timestamp
right now. I'd recommend changing your schema to use timestamp instead.

On Wed, Dec 9, 2015, 12:50 PM Nickolay Kolev <notifications@github.com>
wrote:

[2015-12-11 18:28] jkarni opened #516 "runSqlConn with ExceptT and friends"
`runSqlConn`, when `m` is instantiated to a monad that doesn't necessarily execute all further actions (like `ExceptT`), may *neither* commit nor rollback (when its first argument is e.g. `throwE someError`). This seems like undesirable behaviour.

Original discussion [here](https://github.com/haskell-servant/servant/issues/286#issuecomment-163978300).

[2015-12-12 01:07] pseudonom opened #517 "Mutual foreign keys"
The presence of [deferred constraints](http://www.postgresql.org/docs/9.3/static/sql-set-constraints.html) in `postgres` means it's a little sensible to have two tables, each with foreign keys pointing at each other. Unfortunately, it's hard to work with in `persistent`. I'd like to be able to do something like:

[code]

Because of the fact that declaration order matters in TH, the mutual recursio

[2015-12-12 19:15] snoyberg commented on #516
There's no valid instance of `MonadBaseControl` for `ExceptT`, so this should be impossible by the types we're using. Where does this instance come from, and what's its code? I've encountered this bug many times in the past in different guises.

[2015-12-12 19:21] snoyberg commented on #516
I see that the instance is in monad-control itself, which is surprising (I don't remember the short-circuiting transformers having such instances in the past). I'll look into this a bit more tomorrow.

[2015-12-13 09:04] snoyberg commented on #516
Can you test the code on master?

[2015-12-14 11:13] ondrap commented on #516
Seems to work well, good work!

[2015-12-14 11:27] snoyberg commented on #516
Cool, thanks for confirming. New version on Hackage.

[2015-12-14 11:27] #516 closed

[2015-12-14 14:13] vandenoever opened #518 "split PersistStore to distinguish between read-only and read-write access to database"
PersistStore can read and write to a database. Some use-cases can be safer with a read-only handle to the database. Additionally, a backend like Sqlite can benefit in it's concurrently from knowing if an access is for reading or writing. There can be many concurrent readers, but only one concurrent writer.

A solution could be to split up PersistStore into PersistStore and PersistReadOnlyStore.

T

[2015-12-14 16:19] gregwebs commented on #518
This is also useful in other dbs for read slaves. I am in favor of this change. Want to take a try at it? Backwards compatibility should be maintained with type PersistStore = (PersistStoreRead, PersistStoreWrite)

[2015-12-14 16:30] vandenoever commented on #518
I'm a relative Haskell newbie, but I might have a go over the holidays. It seems something I could do albeit leading to a large patch.

[2015-12-14 16:40] snoyberg commented on #517
Other alternatives:

* Manually create your SQL schema
* First `s/BarId/Int` in the models file, and then switch back to `BarId`

There are no plans currently to implement a better solution in persistent, but I'd certainly be interested in a PR.

[2015-12-14 16:46] gregwebs commented on #518
Cool! Splitting up the typeclass should be easy enough. Properly using the correct connection is where things get interesting.  @pseudonom has done this with an extra layer but might be interested in driving some of this down into persistent itself.

[2015-12-14 16:49] gregwebs commented on #517
I would like to support groundhog's declaration style as an option

[2015-12-15 15:27] tolysz commented on #465
I am spamming a bit;  Fix for the `breaking change` https://github.com/bos/aeson/pull/326
And there is no need to change any of your code.

[2015-12-15 15:30] gregwebs commented on #465
persistent is now using aeson-extra to avoid being broken by aeson

[2015-12-15 15:51] tolysz commented on #465
Really an new package? But what if this is a bug in `aeson`; (and it really is); and now we pop a couple of new packages for every bug?

[2015-12-16 18:52] pseudonom commented on #518
Yup. I haven't pushed it upstream yet because it seems like it's one point in a pretty big design space. But, if you all like this approach, I can certainly work on a PR:

[code]

[2015-12-16 19:20] vandenoever commented on #518
If a ReadSqlT can be turned into a WriteSqlT, the guarantee that a ReadSqlT will not write is lost.

[2015-12-16 22:18] pseudonom commented on #518
`ReadSqlT` and `WriteSqlT` characterize the queries. `readToWrite` allows us to run a read-only query on the write database. The guarantee that a `ReadSqlT` will not write comes from the fact that no write query (e.g. `insert`, `update`, `delete`) will type check as a `ReadSqlT` because they've all been declared as `WriteSqlT`. And we can't sneak a `WriteSqlT` into a `ReadSqlT` because we've strat

[2015-12-16 23:01] gregwebs commented on #518
My thought is that this code could be simplified if a change is pushed down into persistent itself to split up the typeclasses at their base.

[2015-12-18 01:51] pseudonom commented on #518
Ah, make the implementation in terms of `ReadSqlT` and `WriteSqlT` and just expose `type SqlPersistT = WriteSqlT` for those that don't care about splitting? Something like that?

[2015-12-19 23:39] connrs opened #519 "Postgresql primary key is Int4, not Int8"
Hi there,

I'm very new to the Yesod project, so I do apologise if I've missed something here. I've really enjoyed reading about this framework and I was experimenting with setting up the database (Postgres) tables in config/models; after setting up some models, I noticed that the primary key was Int4 but arbitrary columns set as Int would be created as Int8.

I took a look around the codebase and

[2015-12-20 18:59] fgaray opened #520 "Escaped values in PersistDbSpecific"
Currently the Unknown wrapper in persistent-postgresql/Database/Persist/Postgresql.hs:320 has the following instance:

[code]

But this prevents the definition of fields like:

[code]

If I change the instance to PGTF.Plain, it works fine so maybe we should change this instance and put a big warning about it or create a new PersistValue like PersistDbRaw.

What do you think?

[2015-12-22 20:12] pseudonom commented on #518
Primarily `PersistStore` and `PersistQuery`?

[2015-12-22 20:40] vandenoever commented on #518
Yes

[2015-12-23 03:46] gregwebs commented on #518
PersistUnique also.

[code]

[2015-12-24 13:29] mrkkrp opened #521 "How to avoid white space after a tag (e.g. link)?"
I cannot find a way to render a link and then comma or full stop right after it, without whitespace between the link and punctuation. Here is my initial attempt:

[code]

or

[code]

This inserts space between the word “here” and “.”.

Another option is:

[code]

This looks like a win, but HTML is malformed:

[code]

Is there a way to avoid whitespace between the link and punctuation/other element

[2015-12-25 11:48] mrkkrp commented on #521
First sorry for posting this here. I selected wrong tab. It should be in `yesodweb/shakespeare`. Second: here is the answer: https://stackoverflow.com/questions/34460877/how-to-avoid-whitespace-after-a-tag-link-in-hamlet-templates. Closing.

[2015-12-25 11:48] #521 closed

[2015-12-28 10:48] snoyberg commented on #519
I was unaware of SERIAL vs SERIAL8, thanks for pointing it out. Do you know if migrating a database from SERIAL to SERIAL8 would have negative ramifications? It's something we can consider changing. (Pinging @gregwebs.)

[2015-12-29 08:52] connrs commented on #519
Looking at the Postgres docs, all they have to say is:

Looking at some of my pre-existing databases, the sequence generated for the serial and serial8 column both have a max integer value of 2<sup>63</sup>-1. This seems great from a migration perspective, as it *should* be as simple as converting the column from int4 to int8.

[2015-12-29 10:26] snoyberg commented on #519
I've just pushed a commit to the 519-postgres-serial8 branch that changes from SERIAL to SERIAL8. Would you be able to try that out and see if it addresses the issue for you?

[2015-12-30 13:06] connrs commented on #519
Thanks for the speedy response here, I really appreciate it. I'll gladly test this branch out. My yesod experiments have been managed with stack instead of plain ol' cabal (yet another awesome haskell project). Is there a simple way for me to specify this git branch as a dependency in a stack.yaml or do you think it would be easier managed with cabal sandboxes?

[2015-12-30 13:12] snoyberg commented on #519
The Stack documentation explains how to specify a Git commit for a package
source:
http://docs.haskellstack.org/en/stable/yaml_configuration.html#packages

On Wed, Dec 30, 2015 at 3:06 PM, Paul Connolley <notifications@github.com>
wrote:

[2015-12-30 21:38] lloucas-imvu opened #525 "Foreign id ON Delete/ON Update Options"
I was wondering if there is any way to set the constraint ON Update / ON Delete for a foreign key.
I understand and have found DeleteCascade, is there a way to set On Delete Set Null, or On Update Cascade?

In particular I have a table created like this

[code]

[code]

...
I'd like to attach On Update Cascade and On Delete Set Null to certain fields.

I have tried using mkDeleteCascade, but casca

[2015-12-31 16:49] connrs commented on #519
Thanks for the pointer to the Stack documentation - it certainly did the trick.

From my perspective, this is working perfectly. I've pasted in some of the sample output:

Apologies for the brief reply here, I'm getting ready for the new year. Thank you very much for your help with tackling this issue and happy New Year!

[2016-01-01 01:34] gregwebs commented on #520
New instance please

[2016-01-01 01:38] gregwebs commented on #498
What backend (database) are you using?

[2016-01-02 14:35] phonje opened #526 "Connection string using URI in Sqlite"
The connection functions of the persistent-sqlite packege seem not to accept a connection string in URI format. For excample,

    withSqliteConn "file:///tmp/test.db" $ runSqlConn $ do ...
    withSqliteConn "file:test.db?mode=memory" $ runSqlConn $ do ...

In the former case, the error which can't open the file occurs. In the latter case, the database file of the same name (that is "file:test.db

[2016-01-02 16:53] snoyberg commented on #526
Does sqlite itself support such a query string format?

On Sat, Jan 2, 2016, 4:35 PM phonje <notifications@github.com> wrote:

[2016-01-03 00:12] phonje commented on #526
Yes, Sqlite does.
https://www.sqlite.org/uri.html

And that, the connection functions included in other packeages (e.c. sqlite-simple) accept URI.

[2016-01-03 00:43] phonje commented on #526
Sorry, I overlooked that the URI filename capability is disabled by default in Sqlite. It isn't wrong that persistent-sqlite doesn't support the URI, is it?

I expect that persisten-sqlite will support the URI in the near future.

thunks.

[2016-01-03 01:32] meteficha commented on #526
I'm opposed to changing `withSqliteConn`'s behavior, but I'd be okay with a new `withSqliteURIConn` or something.

[2016-01-03 07:37] snoyberg commented on #526
What's the reason for the opposition Felipe? I understand that it's
technically a breaking change, but I'm having trouble imagining a real
world scenario where someone would have a connection string that would
parse as a URL.

I'm any event, a PR adding this feature as a new function will definitely
be accepted, and should be fairly straightforward to add.

On Sun, Jan 3, 2016, 3:32 AM Felipe Less

[2016-01-03 09:24] snoyberg commented on #525
There's no support for this currently in the built in migration code, but you can manually add such triggers with direct raw SQL calls.

[2016-01-03 14:13] meteficha commented on #526
Most uses of `persistent-sqlite` use plain old files.  Proof: that's the only thing we support right now.  Besides the backwards compatibility bit, which we shouldn't forget that also includes printed documentation, it's better to keep a straightforward `FilePath` as the main API.  Finally, I don't see a compelling reason to change the current API instead of adding a new function.

[2016-01-04 06:15] snoyberg commented on #519
The problem with making this change would be causing regression for current users with 4-byte keys. I'm not sure if others will have an issue with this change. A good way to move the ball forward on this would be to email the Yesod mailing list and look for feedback on incorporating this change in master.

[2016-01-06 20:07] connrs commented on #519
No problem. I've sent a post to the mailing list, so I'll see what sort of feedback we get about it.

[2016-01-07 18:57] liskin opened #527 "insertMany_ may fail with "too many SQL variables" on sqlite"
https://github.com/yesodweb/persistent/blob/master/persistent/Database/Persist/Sql/Orphan/PersistStore.hs#L217 produces a huge number of variables, but there's a limit of 999 in sqlite (https://www.sqlite.org/limits.html). This results in:

[code]

I'm now doing `mapM_ insertMany_ (chunksOf 100 recs)` but it's ugly.

[2016-01-07 19:20] gregwebs commented on #527
What is the approach to avoid this issue. Should persistent batch the inserts?

[2016-01-08 15:33] liskin commented on #527
I don't know. I thought perhaps persistent-sqlite could do that, as it seems that other engines may not have this limitation. But insertMany_ is not customizable in SqlBackend.

[2016-01-08 16:02] gregwebs commented on #527
It looks to me that the insertMany Sql code should be improved to not generate placeholders. All the sql backends support the VALUES syntax it just requires a more recent salute version

[2016-01-09 17:52] snoyberg commented on #527
It's also possible to modify the behavior per-backend, since the SqlBackend data type contains a field for the backend type.

[2016-01-16 17:08] psibi opened #530 "Master build failing"
This pull request build succeeded: https://travis-ci.org/yesodweb/persistent/builds/102779175

But on merging it with master, it failed: https://travis-ci.org/yesodweb/persistent/builds/102784836

Now there are two reasons I can find for which it are failing:

* While trying to build `quickcheck-instances`

[code]

* Because of missing of `aeson-compat`

[code]

[2016-01-16 21:06] psibi commented on #530
I added `aeson-compat` and there seems to have no build issues https://github.com/yesodweb/persistent/pull/529 as shown by the Travis CI there. But I'm no sure if that is the actual problem or if the Travis build system is just unpredictable.

CC: @gregwebs @snoyberg

[2016-01-17 20:01] gregwebs commented on #530
I think your PR fixes the issue

[2016-01-18 19:15] psibi commented on #530
Thanks for merging it. That seems to fix it.

[2016-01-18 19:15] #530 closed

[2016-01-19 09:46] #519 closed

[2016-01-20 18:37] bitemyapp opened #531 "Build fails for Models file after `stack clean`, succeeds in stack ghci"
[code]

This works:

[code]

This doesn't:

[code]

The problem only happens if ProfileIdentity is in the models file.

[2016-01-20 18:50] snoyberg commented on #531
Did you try adding `EmptyDataDecls` to the language extensions?

[2016-01-20 19:20] bitemyapp commented on #531
@snoyberg sigh, no, didn't know this happened normally. That fixed it. Can you say which bit introduces the empty data decl?

[2016-01-20 19:20] #531 closed

[2016-01-20 19:24] snoyberg commented on #531
Just looking at the error message, seems to be:

Guessing it's because `ProfileIdentity` doesn't have any unique keys, and therefore didn't generate any data constructors.

[2016-01-20 19:26] bitemyapp commented on #531
@snoyberg PK doesn't count as having any?

[2016-01-20 20:18] snoyberg commented on #531
No, it's handled separately than Unique.

On Wed, Jan 20, 2016, 9:26 PM Chris Allen <notifications@github.com> wrote:

[2016-01-20 21:18] bitemyapp commented on #531
@snoyberg coolio. Thank you sir :)

[2016-01-27 22:04] steven777400 commented on #455
Just ran into this issue myself using the mysql backend, so it's not postgres specific.

[2016-01-28 00:00] bitemyapp opened #533 "Lower-case 'e' in CREATE TABLE statement emitted by migrations"
![screenshot from 2016-01-27 12-36-40](https://cloud.githubusercontent.com/assets/320177/12632738/dbc62972-c51f-11e5-8f4e-868405bcf6a5.png)

[2016-01-28 00:17] psibi commented on #533
That's intentional: https://github.com/yesodweb/persistent/blob/0fe7d27c7a029459efa22ac18a99b1354323c74b/persistent/Database/Persist/Sql/Migration.hs#L115

[2016-01-28 15:06] Philonous commented on #373
I'm being bitten by this too. Has there been any progress on this issue?

[2016-02-01 23:06] jonkri commented on #373
+1

[2016-02-04 09:19] spl commented on #519
@connrs: I'm glad you reported this discrepancy between the foreign and primary key integer sizes. It's been confusing me for a while. I never looked into why it existed, so I'm happy somebody did.

@snoyberg: Thanks for the quick turnaround.

I did discover a problem with this due to the use of SQL functions that expected certain key types, which led me to this issue. Fortunately, it came up in c

[2016-02-04 09:21] spl commented on #519
It just occurred to me that maybe it would be a good idea to add a row to https://github.com/yesodweb/persistent/wiki/Persistent-entity-syntax with the key types for each backend.

[2016-02-06 12:23] Skyfold opened #535 "TINYINT can be more than just Bool"
I am working with a mySQL database that uses TINYINT length 2, but Persistent considers all TINYINT to be of type Bool. The problem is, TINYINT could be either Bool, Int8 or Word8.

It would be quite helpful if Persistent determined the actual type when reading it in from the database, not just what the database says is the type.

[2016-02-06 16:09] gregwebs commented on #535
Can you show your persistent schema?

[2016-02-07 06:21] rahulmutt opened #536 "Primary key column cannot be nullable"
I'm using the yesod-postrgres template. Suppose you have

config/models

<pre>
Test
  field1 Text
  field2 Text Maybe
  field3 Text
  Primary field1 field3
</pre>

Compiling this gives:

<pre>
Model.hs:13:7:
    Exception when trying to run compile-time code:
      primary key column cannot be nullable: "field3"
    Code: persistFileWith lowerCaseSettings "config/models"
    In the splice: $(persi

[2016-02-07 07:56] Skyfold commented on #535
[code]

[2016-02-07 15:40] rahulmutt opened #537 "Better error message for dealing with bad constructors"
config/models
<pre>
Test
   field Text.
</pre>

Error:
<pre>
Model.hs:13:7:
    Illegal type constructor or class name: ‘Text.’
</pre>
and it goes on with a huge dump of TH splices.

In practice, it's unlikely any user will actually face this unless they accidentally typo, but it's good practice to give good error messages.

The fix is as follows:
In persistent, Database.Persist.Quasi, Lines 67-69

[2016-02-14 14:15] ygale commented on #498
Postgresql

[2016-02-14 16:31] psibi commented on #498
@ygale I'm not able to reproduce this. I tried various variations of `rawExecute` but still wasn't able to get the error. Can you share a reproducible code for this ? My query was various variation of this:

[code]

[2016-02-14 16:38] #503 closed

[2016-02-14 16:43] psibi commented on #533
Please reopen if still relevant.

[2016-02-14 16:43] #533 closed

[2016-02-14 22:01] joeyh opened #540 "not all String values round-trip through"
I used persistent-sqlite with a table that contains a FilePath. After storing "test_öüä" in the database, I retrieved it back out, and got back "test_������".

This only occurred when I was not using a utf-8 capable locale (ie, LANG=C)

analysis:

String can represent a filepath that may be encoded using any encoding, not just the current system encoding. This is handled by using utf surrogate cha

[2016-02-15 05:04] snoyberg commented on #540
I doubt there's anything reasonable we can do here. There's certainly a
desire to have Strings from Haskell be treated as normal text by other
SQLite applications. Using a newtype wrapper when you want a special
representation, or using a ByteString and taking responsibility for the
character encoding, seen like reasonable solutions.

On Mon, Feb 15, 2016, 12:01 AM Joey Hess <notifications@github.

[2016-02-15 11:21] ygale commented on #498
@psibi OK thanks, that's helpful. It's deep inside a large and complex proprietary application, so I'll have to do some work to try to get a small independent reproduction sample. I'll update this issue again when I have time to do that.

[2016-03-08 13:18] RasmusKlett commented on #109
I think this is still very relevant. With it, I would be able to handle all my SQL needs from Persistent.
Additionally, maybe Django's approach of adding indexes to [foreign key](https://docs.djangoproject.com/en/1.9/ref/models/fields/#django.db.models.ForeignKey) fields by default?
In [this issue](https://github.com/yesodweb/yesod/issues/444) it is mentioned that maybe a manual alternative should

[2016-03-10 06:34] gregwebs commented on #109
Automatically handling indexes is fraught with peril. When data gets large, index creation can take an extremely long time. Generally it is best to get some advise from persistent about how to do migrations but manage them yourself. You can try sqitch, dbmigrations, or even ActiveRecord migrations. Let us know what works for you.

[2016-03-10 07:24] vandenoever commented on #527
I work around this issue by chunking the input list.
[code]
In this case, the items have 3 fields and 300 < 999 / 3.
`chunk` is a tiny function from from Data.List.Split.

[2016-03-10 07:37] psibi opened #547 "Fixing Travis CI in master"
The Travis CI test for persistent has been breaking for some time now.

During my attempt to fix this, I observed that the Travis builds which were working just fine previously, do not work anymore. For example, this commit https://github.com/yesodweb/persistent/commit/0fe7d27c7a029459efa22ac18a99b1354323c74b build fine previously:

https://travis-ci.org/yesodweb/persistent/builds/103302905

But w

[2016-03-10 09:54] RasmusKlett commented on #109
In the Django world where I come from, it seems to work very well, and I really don't see why it wouldn't here. People with very big data can just not use the feature, and for the rest of us it would be very nice.
But anyway, if manually managed migrations are recommended, maybe it should be documented somwhere easily findable? Everyone with medium-sized data is bound to have this issue.

[2016-03-10 11:17] Qinka opened #548 "Can not upload files, which are larger then about 128k, with persistent-mongoDB"
When trying to use `insert` of `update` to upload a row in which there is a file(ByteString), it might be failed. It will not return any error or msg, but just wait, unless pass `Ctrl+C`.  Build with same codes, PostgreSQL worked well.

[2016-03-10 14:44] gregwebs commented on #109
Where else should this be documented?

[2016-03-10 14:46] gregwebs commented on #548
Can you try using the raw mongodb driver and see if the issue still occurs?

[2016-03-10 14:53] gregwebs commented on #547
Can we cache the dependency install and increase the timeout? Also we can split up the EmbedTest module

[2016-03-10 14:57] snoyberg commented on #547
Caching will be tricking because we need to use the non-container builds to
allow us to install Zookeeper.

On Thu, Mar 10, 2016 at 4:53 PM, Greg Weber <notifications@github.com>
wrote:

[2016-03-10 14:57] RasmusKlett commented on #109
I was imagining something like a github wiki page showing how to get a basic setup running. Or it might even be in the Yesod book?

[2016-03-10 20:56] gregwebs commented on #547
If zookeeper is holding up the build let's just not build that one. We can create a separate persistent-zookeeper repo

[2016-03-11 14:40] Qinka commented on #548
The logs of db shows that the driver, persistent-mongodb, creates some connections, but it's without anyother information. And I failed with the raw mongodb driver.

[2016-03-12 03:21] Qinka commented on #548
@gregwebs Data was, looked like, passed to the pc, on  which db are hosted. But I don't know whether yesod and persistent get the data passed(returned) from db, and it "waiting" , unless pass `Ctrl+C`

[2016-03-12 05:18] psibi commented on #547
Travis seems to get fixed in this pull request: https://github.com/yesodweb/persistent/pull/546#issuecomment-195661242

[2016-03-13 10:51] Qinka commented on #548
@gregwebs
I checked my osx's network informations, and found that The application recived datas, about 1.1M from `curl`, but just sended about only 130k. And my db is hosted on my windows laptop. Other "connections with db" are acted as they should.

[2016-03-14 12:59] Qinka opened #549 "Add test case of big datas' query"
I think there should be some test cases about big datas, including the insert, update, select, delete and so on. And "big datas" should larger that 1Mb.

[2016-03-20 05:09] psibi commented on #493
Closing this issue, please re-open if relevant.

[2016-03-20 05:09] #493 closed

[2016-03-20 14:18] MaxGabriel commented on #493
I wrote these SQLite triggers for a [StackOverflow question](http://stackoverflow.com/questions/35231697/how-to-let-default-values-come-from-the-database/35356680#35356680) if anyone needs them:
[code]

[2016-03-22 10:35] #390 closed

[2016-04-08 20:06] joeyh opened #551 "persistent-sqlite-2.2.1 fails to build on windows"
Errors in cbits/sqlite3.c such as,
   error: 'OVERLAPPED' has no member named 'Offset'

Since version 2.2 builds ok, it was the sqlite update that broke it.

For the record, I am building on Windows XP (boo hiss). Can't try a newer windows version right now. ghc 7.8.3.

[2016-04-11 01:14] #535 closed

[2016-04-11 02:01] gregwebs commented on #551
I think @snoyberg maintains sqlite and also has some windows familiarity

[2016-04-11 02:03] gregwebs commented on #549
Are you interested in adding such a test case?

[2016-04-11 02:15] gregwebs commented on #547
pull request is merged

[2016-04-11 02:15] #547 closed

[2016-04-11 02:17] gregwebs commented on #537
Did you want to send this as a PR? It would be best to check for any character that is illegal in a type name.

[2016-04-11 02:20] gregwebs commented on #518
This is done now

[2016-04-11 02:20] #518 closed

[2016-04-11 02:23] gregwebs commented on #482
This is fixed now

[2016-04-11 02:23] #482 closed

[2016-04-11 02:24] gregwebs commented on #484
@joeyh can you send the PR?

[2016-04-11 02:24] gregwebs commented on #459
closing for now. please re-open if the issue still exists

[2016-04-11 02:24] #459 closed

[2016-04-11 02:25] gregwebs commented on #441
Perhaps @joeyh is familiar with this

[2016-04-11 02:27] gregwebs commented on #412
This is fixed now

[2016-04-11 02:27] #412 closed

[2016-04-11 02:35] jb55 commented on #412
awesome! thanks.

[2016-04-11 02:44] rahulmutt commented on #537
Yeah I did, but I was busy at the time and I didn't get the chance. I'll work on it now. I think with an illegal character in a type, the error will just be "type not found" which is fine, but I'll play around with different illegal combinations and see what happens and fix it accordingly.

[2016-04-11 12:35] snoyberg commented on #551
I've just pushed a commit that upgrades to the latest sqlite C file. It
seems like this was a known regression with non-C-99-compliant compilers.
Can you try out master and see if it works?

On Mon, Apr 11, 2016 at 5:01 AM, Greg Weber <notifications@github.com>
wrote:

[2016-04-12 01:56] erikd opened #553 "Make it work with ghc-8.0"
GHC 8.0 is about to be released and it seems there have been some substantial changes to the template haskell support.

Building `persistent-template` from git with the ghc-8.0 pre-release results in a huge slew of errors. I'm posting the complete error output here so people don't have to install 8.0 just to see the error messages.

[code]

[2016-04-12 02:03] erikd commented on #553
The TH changes for this release are listed here :
https://ghc.haskell.org/trac/ghc/wiki/Migration/8.0#template-haskell-2.11.0.0

[2016-04-12 03:17] erikd commented on #553
I'm currently working on this issue. So far, it seems reasonably straight forward.

[2016-04-12 03:19] gregwebs commented on #553
thanks!

[2016-04-12 04:23] erikd commented on #553
The migration guide does not quite provide sufficient information for me to fix this. I've asked a question on the ghc-devs list asking for some clarification.

[2016-04-12 10:23] erikd commented on #553
I've got some code that compiles and passes tests with ghc-7.10, and also compiles with ghc-8.0 but a tooling issue prevents me from running the tests. I'm currently debugging that.

[2016-04-12 15:14] gregwebs commented on #553
Stack test should work. Also Travis ci should work

[2016-04-12 16:41] rubenmoor commented on #526
I'm working on a different pull request that would allow read-only access to databases. Both, my pull request and the uri feature, require the move to `sqlite_open_v2`. While I'm at it: I could add an optional "URL" parameter to the connection string that would set the URI flag and thus allow for uris instead of filenames.

If I get it right, the URL parameter might be redundant, though:

The Sqli

[2016-04-12 16:51] MaxGabriel commented on #526
If I understand it right, supporting the query string sounds much better than rewriting parsing code for all potential SQLite configuration options

[2016-04-12 16:56] rubenmoor commented on #526
Sqlite docs say:

https://www.sqlite.org/c3ref/open.html

I understand it that the flags should then be `READWRITE | CREATE | URI` where only the URI flag is new. For read-only access (more restrictive) I can pass a mode in the uri.

That is now reflected in the [pull request](https://github.com/yesodweb/persistent/pull/418).

[2016-04-13 00:56] erikd commented on #553
It was a bad interaction between cabal and ghc-8.0. Thats resolved now, but I still need to make it pass the tests with ghc-8.0 :-).

[2016-04-13 01:21] erikd commented on #553
https://github.com/yesodweb/persistent/pull/554

[2016-04-13 08:56] rubenmoor commented on #526
Documentation: I added a "URI Filenames" paragraph in the Sqlite section.

https://github.com/yesodweb/persistent/wiki/Database-Configuration

[2016-04-13 14:53] MaxGabriel commented on #526
Implemented by #418; closing

[2016-04-13 14:53] #526 closed

[2016-04-13 20:49] erikd commented on #553
The PR has been merged.

[2016-04-13 20:49] #553 closed

[2016-04-14 00:46] erikd commented on #553
Any ETA on a new release so I can continue working through ghc-8.0 support for the rest of the yesod stack?

[2016-04-14 01:37] MaxGabriel commented on #553
If you use Stack, you can use use master of this repo by [specifying a git repo and commit](http://docs.haskellstack.org/en/stable/yaml_configuration/), I think it would look like this:

[code]

[2016-04-14 03:15] erikd commented on #553
@MaxGabriel Unfortunately that does not help getting Esqueleto working with GHC due to git HEAD having the `BaseBackend` changes.

What's really needed is a new version of persistent *without* the `BaseBackend` related changes but with the ghc-8.0 support and another with the `BaseBackend` changes.

[2016-04-20 01:05] erikd opened #556 "Please release persistent-template version 2.1.7 that supports ghc-8.0"
Esqueleto still doesn't support `persistent-2.5` but will build with ghc-8.0 if the upper bound on the `base` dependency is bumped (see https://github.com/prowdsponsor/esqueleto/pull/135).

It would therefore be nice (and easy to do) to release a version of `persistent-template` that supports ghc-8.0.

If I checkout the persistent-template/2.1.6 tag as a branch I can then cherry pick commit 3adc3e

[2016-04-20 04:56] snoyberg commented on #556
Awesome, done. Thanks for pushing these fixes all the way up the dependency tree :)

[2016-04-20 04:57] #556 closed

[2016-05-03 14:43] nd2s opened #558 "Non-existent withStmt referenced in documentation"
I was trying to find a way of selecting a varying number of columns from an SQL query only known at runtime. I found documentation about `withStmt` in [Database.Persist.Sql:ConnectionPool](http://haddock.stackage.org/lts-5.15/persistent-2.2.4.1/Database-Persist-Sql.html#t:ConnectionPool) but this seems to have gone in v2?

It probably wouldn't have helped me anyway because this apparently only wor

[2016-05-04 10:20] Tritlo commented on #412
I am still having this issue. In what version is it fixed?

[2016-05-05 18:32] gregwebs commented on #412
oh, I saw the commit show up, but that was to someone's fork. I pulled it in to persistent now and will release it when the Travis build passes

[2016-05-07 23:24] Tritlo commented on #412
Great! When will the release show up on hackage?

[2016-05-09 04:53] gregwebs commented on #412
released http://hackage.haskell.org/package/persistent-template-2.5.1.1

[2016-05-09 07:57] Tritlo commented on #412
I am still having this issue.

[code]

where the `Post` model is defined as

[code]

[2016-05-09 09:21] Tritlo commented on #412
Alright, I've pushed a fix to my fork of persistent. It seems as if the original fix somehow confused the issue, since the issue was that `type_0` is reserved, in 7.10.2, but adding an extra `_` makes it ok (i.e. `type__0`. I have fixed this in my fork, see https://github.com/Tritlo/persistent/commit/9c292b8fb24279ee99417440a7ba9ced2af33abf

[2016-05-10 03:59] snoyberg commented on #558
@gregwebs Do you know anything about this?

[2016-05-11 02:01] gregwebs commented on #558
This is not familiar to me. Is there is any use case for `withStmt` instead of using `rawSql`?

[2016-05-11 10:00] uuhan opened #560 "The Eq instance of Key with mpsGeneric enabled"
See also this [question](http://stackoverflow.com/questions/37159124/the-eq-instance-of-a-key-with-mpsgeneric-enabled-seems-strange) in stackoverflow

fromSqkKey works to compare two Keys.

[2016-05-12 11:04] Tritlo commented on #558
Maybe to create extensions? Like `CREATE EXTENSION hstore;` in `Postgresql`.

[2016-05-14 03:56] gregwebs commented on #560
This bug is pretty embarrassing, I will push a fix to hackage this weekend.

Is there a reason that you use `mpsGeneric=True`? It complicates everything, so it is better to not use it unless you need it.

[2016-05-14 03:57] #560 closed

[2016-05-14 15:22] uuhan commented on #560
@gregwebs
Glad to see the bug fixes.

No special reason for mpsGeneric=True. I just want to see what is the deferent between them.

[2016-05-17 00:39] pseudonom opened #562 "Persistent Entity Declaration QuasiQuote doesn't support type literals"
e.g. If you try to do

[code]

you're met with an error like `Invalid field type "Finite 2001" PSFail ('2',"001")`.

This is an artifact of https://github.com/yesodweb/persistent/blob/master/persistent/Database/Persist/Quasi.hs#L63 and not any fundamental limitation. `type Twenty = 20` works fine as a workaround.

[2016-05-17 14:53] snoyberg commented on #562
I don't have an inherit objection to adding support for type level literals, just a vague concern that the error messages could end up being confusing for users. Want to take a stab at a PR to generalize the parser here?

[2016-05-23 10:07] jwaldmann opened #563 "persistent-mysql migration: BLOB/TEXT column ... can't have a default value"
when I start my application (for the first time, so it tries to migrate an existing DB), I get

[code]

When I run this command in the DB directly:
[code]
This also happens with mysql server version 5.5.49.

The fix would be to just not run this `ALTER TABLE` query? Indeed, not to create it? Because the default is not there in the first place, so there's no reason to drop it:

[code]

[2016-05-24 03:09] gregwebs commented on #563
This seems like a bug. In general it is best to use printMigration, etc and get advice from persistent on running migrations, but not to have persistent run them itself.

[2016-05-30 19:09] borsboom opened #564 "persistent-sqlite-2.5.0.1 fails on Mac OS X"
Opening a database fails with:
[code]

Minimal reproducing program:
[code]

It looks like the persistent-sqlite tests don't trigger this issue because they use the `:memory:` connection which doesn't use the `stat` system call.

(previously mentioned in https://github.com/yesodweb/persistent/pull/561#issuecomment-222329087)

[2016-05-30 20:25] borsboom commented on #564
Looks like the problem is that this application of the patch (https://github.com/yesodweb/persistent/commit/0df11d70e936389ca6ed15afb227f6224ad16f22) adds an `lstat_local` that was not needed before (in previous versions of the patch like https://github.com/yesodweb/persistent/commit/ac45d80e28bf3252297291955ecdb9d4c8235884), but the type signature is wrong.  It should match `stat`'s type signatur

[2016-05-31 05:06] #564 closed

[2016-06-01 07:37] psibi opened #567 "persistent-redis fails to build on GHC 8.0.1"
Error log: https://hydra.nixos.org/build/36486380

[2016-06-01 17:42] gregwebs commented on #567
Doesn't necessarily seem like a version 8 issue. persistent-redis is in need of a little maintenance now.

[2016-06-02 04:52] paulrzcz commented on #567
I will try to find a spare time to make this maintenance today if nobody has started it yet.

[2016-06-02 06:23] gregwebs commented on #567
Thanks! I started messing around with a GHC 8 build with stack here: https://github.com/yesodweb/persistent/pull/568

[2016-06-02 06:50] paulrzcz commented on #567
I've just fixed persistent-redis locally to be buildable with current persistent and GHC 7.10.3 in lts-5.1.

Though I would like to pose a restriction on the lower bound of persistent. Which version of persistent was the split of PersistStore to PersistStoreRead/Write introduced in?

Also could I commit the patch directly into main branch because I have rights to do so? Or do you have another proc

[2016-06-02 13:43] jwaldmann opened #569 "unhandled error for composite/non id primary keys"
I am getting this error
[code]
and I have no idea how to debug this. The error message does not even mention the table's name (but I can guess it from the names of columns - in this case)

model/table looks like
[code]
and I confirmed that there are no duplicate rows.

[2016-06-02 16:33] gregwebs commented on #569
What is the query that you are running? It looks like you provided an empty list for an in query, can you confirm? I can change persistent to surface a better error message.

[2016-06-02 18:11] jwaldmann commented on #569
In this handler: https://gitlab.imn.htwk-leipzig.de/autotool/all/blob/master/yesod/Handler/Gruppen.hs#L15

Indeed, occurence of this error depends on other data that's possibly combined in the query. The model is: student is associated with a group, group belongs to a lecture (vorlesung). Error occurs when there are no gruppen for a vorlesung.

[2016-06-02 20:49] gregwebs commented on #569
I would suggest producing a NonEmpty (I would like to change the API to require that) any time you do an In query. Just call toList on the NonEmpty. A better error message is committed to master now.

[2016-06-02 20:49] #569 closed

[2016-06-03 02:29] gregwebs commented on #567
Its always best to create a pull request first.
We are trying to maintain a decent ChangeLog now. 2.5 had the split:
https://github.com/yesodweb/persistent/blob/master/persistent/ChangeLog.md#25

we should get Redis into the Travis build if we can which will help prevent it from falling behind again.

[2016-06-03 16:04] jwaldmann commented on #569
Thanks for the patch.

What's the easiest way for me to use the patched `persistent` in my (stack) project?
I put this in `stack.yaml`:
[code]
but this leads to
[code]
(and more).

[2016-06-03 16:08] jwaldmann commented on #569
Am I understanding you right -- the problem with my code
[code]
is that the first query returns an empty result set, so the second query does not work?

[2016-06-03 16:18] gregwebs commented on #569
yes. If you are using stack you will need to be on a nightly build (you can use one before the switch to GHC 8 if you want) to be able to use the latest version of persistent

[2016-06-03 16:21] gregwebs commented on #569
Actually, you may not use a nightly if you also add a subdirs entry for persistent-template and your backend (persistent-postgresql or whatever you are using)

[2016-06-03 16:25] jwaldmann commented on #569
(Anyway, since you explained the reason for the exception, maybe I don't need your patch right now.)

Is this "In query needs NonEmpty" documented someplace? I don't find "NonEmpty" in the docs https://s3.amazonaws.com/haddock.stackage.org/lts-6.1/persistent-2.2.4.1/doc-index-N.html and I don't see a definition of "In query" (and it's hard to search for this).

[2016-06-03 16:32] gregwebs commented on #569
Yep, you don't need the patch.
search stackage for NonEmpty. The problem is that persistent isn't using it yet, but that doesn't mean you can't.
`<-.` in SQL is usually called `IN`.

[2016-06-03 17:12] jwaldmann commented on #569
Thanks. I appreciate the quick responses. So I will grep for "<-." I Sorry for the bother, I have very little SQL experience, and the student who wrote the code is no longer officially on this project.

[2016-06-04 12:32] Qinka opened #571 "malformed array literal"
I inserted a row of data, and got the followed error.

[code]

And my Postgres has such output:

[code]

[2016-06-04 12:59] Qinka commented on #571
I don't whether I used PostgreSQL array and persistent in a wrong way, but to seemed that some functions is not suitable.

I don't know why array is transformed to JSON's array but not to SQL's array. However, it do.

[2016-06-04 13:09] gregwebs commented on #571
Are you using persistent for migrations?

[2016-06-04 13:37] Qinka commented on #571
I just use `insert` function.

[2016-06-05 13:26] Qinka commented on #571
I think `listToJSON` (at [Database/Persist/PostgreSQL.hs:line:305](https://github.com/yesodweb/persistent/blob/master/persistent-postgresql/Database/Persist/Postgresql.hs#L305) ) should be changed to `PG.PGArray`.

And if you think it's necessary, I will fork and send a new pull request.

[2016-06-05 14:02] gregwebs commented on #571
PR would be great.

[2016-06-05 15:06] Qinka commented on #571
Sorry, I'm not good at English, and what does PR stand for?

[2016-06-05 15:20] psibi commented on #571
Pull Request. :)

[2016-06-05 15:25] Qinka commented on #571
😂

[2016-06-05 16:06] MaxGabriel commented on #571
For the longest time I thought "LGTM" meant "Let's get this merged"

[2016-06-06 09:42] paulrzcz commented on #567
I've just merged the pull request with persistent 2.5 compatibility but it still fails on GHC 8.0.1. I am going to finally setup the newest version of GHC and to figure out what's going on.

[2016-06-06 12:46] paulrzcz commented on #567
The version 2.5.1 should be ok on GHC 8.0.1

[2016-06-07 20:12] pseudonom opened #574 "Persistent Entity Declaration QuasiQuote doesn't support type parameters"
If I try to do

[code]

I get the error

[code]

.

Would you guess this is a purely syntactic limitation? Or is there something deeper going on? If purely syntactic, I can maybe try to handle this at the same time as https://github.com/yesodweb/persistent/issues/562 and generalize the parser.

[2016-06-08 03:55] gregwebs commented on #574
I am goring to write about this, but my general approach now is to keep the entity types simple and then convert entities into a model with more robust types.

That being said, how would persistent generally support type parameters? Isn't `Tagged a PersistValue` the only thing that would make sense to support?

[2016-06-08 04:35] mrkkrp opened #575 "Strange behaviour of upsert"
I've run into a strange behaviour of `upsert` function. I use PostgreSQL. What I do is a quite intensive multi-threaded process that requests information from database, fetches something from the Internet, and then uses `upsert` to insert or update record into a table.

The use of `upsert` is the only way records can be inserted in that table. There is no other code that ever touches that table (o

[2016-06-08 08:33] mrkkrp commented on #575
Ah I see, your `upsert` is not a proper atomic PostgerSQL `upsert`. I'll handle this.

[2016-06-08 08:33] #575 closed

[2016-06-08 15:41] gregwebs commented on #575
Thanks!

[2016-06-08 15:55] psibi commented on #575
I think the documentation should be updated to indicate this. I'm still not able to understand why it isn't working.

[2016-06-08 16:42] pseudonom commented on #574
Yeah, I think modelized entities is the right long-term approach.

Yes, it's a somewhat niche use case. Though it makes sense for any type with a phantom parameter, not just `Tagged`.

[2016-06-10 21:20] kyloel opened #576 "doesTableExist causes problems when there are tables with the same name and different owners."
I have to work with my uni's database where each user has access to his/her own tables only. I run into problem when I wanted to create table with the name someone already used. I am able to create it manually by psql, but specifying entity in persistent causes errors because doesTableExist finds those tables.

For example there is table
tablename=my_table, tableowner=user1
I want to define model

[2016-06-13 23:58] robertLeeGDM opened #577 "ZonedTime / ZT restore type"
Any chance we can have the ZonedTime/ZT type restored to Persistent's supported types?

[2016-06-14 14:05] gregwebs commented on #576
Are the tables under different schemas?

[2016-06-14 16:40] kyloel commented on #576
Here is the result of query similar to one used by `doesTableExist`:
 `SELECT * FROM pg_catalog.pg_tables WHERE schemaname != 'pg_catalog' AND schemaname != 'information_schema' AND tablename='sale';`
but I change `count(*)` to `*` to show conflicting tables.
[code]
I wanted to add model with the name `sale`. For now persistent will return error as count = 5 is different than:
0 -> table does not

[2016-06-14 20:50] pseudonom opened #578 "Persistent Entity Declaration doesn't work with `DeriveAnyClass` enabled"
[code]

fails with

[code]

Changing the extension to `GeneralizedNewtypeDeriving` works. If both are enabled, `DeriveAnyClass` takes precedence as per page 277 (261 of the internal page numbering) of https://downloads.haskell.org/~ghc/latest/docs/users_guide.pdf and we get the error again. This was particularly sneaky as I had `DeriveAnyClass` enabled only via my cabal file.

Adding `Generic` to

[2016-06-14 22:36] pseudonom opened #579 "No builtin support for UUID"
Should support for UUIDs be built in to `persistent` or should it be its own package? FYI, the own package version might look something like

[code]

[2016-06-15 00:41] mlitchard commented on #577
I'll take a stab at this if we want to put it back in.

[2016-06-15 02:14] erikd commented on #577
I certainly missed it when it was removed. I for one would be happy if correct support for this was restored. My memory is that the original one was fundamentally incorrect in some way.

[2016-06-15 05:50] mlitchard commented on #577
Knowing why it was removed would be helpful. Calling Dr. Snoyman.

[2016-06-15 05:59] snoyberg commented on #577
This has been discussed at length multiple times in the past. Most recent discussion (which links to previous discussions) is: https://github.com/yesodweb/persistent/issues/290

[2016-06-15 06:25] erikd commented on #577
Ah yes, that seems familiar!

[2016-06-15 15:20] psibi commented on #576
@kyloel Can you check if PR #580 fixes this for you ?

[2016-06-15 17:51] kyloel commented on #576
@psibi I am new to using stack. Could you explain to me what should I do to test this PR with my project? I created my project using yesod's quick start guide: http://www.yesodweb.com/page/quickstart
I am afraid that trying to find out how to do it myself would take me too much time and I am currently quite busy.
Thanks in advance.

[2016-06-15 20:23] robertLeeGDM commented on #577
Persistent supported the ZonedTime type, which is supported by postgresql-simple. The reason stated for its removal from persistent was the false expectation that Postgres would record the timezone along with the timestamp. The Postgres timezone with time stamp does not record a timezone, but it does something very important, it converts correctly between timezones. One could visualize this as an

[2016-06-15 20:26] robertLeeGDM commented on #577
And mysql has the same functionality, so it's not just postgres:

https://dev.mysql.com/doc/refman/5.5/en/time-zone-support.html

[2016-06-15 20:26] robertLeeGDM commented on #577
To illustrate this simple feature one only need to run this SQL on
Postgres:
   -- Do this first.
   SELECT NOW(); -- which by default should report time in UTC

   -- Then do this.
   SET SESSION TIME ZONE 'America/Chicago';
   SELECT NOW(); -- which will correctly report in US central time.

Inserts and updates also perform timezone corrections from a timezone
of your choice to UTC (which is nat

[2016-06-15 20:34] robertLeeGDM commented on #577
Unfortunately those discussions were based on false expectations and
utterly missed the point of the ZT type. It is a vital zone conversion
feature supported by Postgres and MySql and probably others. UTCTime is
completely inadequate to provide seamless and correct timezone
conversions.
On Tue, 2016-06-14 at 22:59 -0700, Michael Snoyman wrote:

[2016-06-15 23:39] pseudonom opened #582 "Stop using `Control.Monad.Error`"
The module is deprecated and brings in some awkward orphan instances:

https://hackage.haskell.org/package/transformers-0.5.2.0/docs/Control-Monad-Trans-Error.html#v:-36-fAlternativeEither

Does anyone have an estimate of how intensive it would be to remove from `persistent`? It's not just on the periphery: https://github.com/yesodweb/persistent/blob/master/persistent/Database/Persist/Types/Base.h

[2016-06-16 00:32] psibi commented on #582
Related: https://github.com/yesodweb/persistent/issues/431

[2016-06-16 01:40] pseudonom commented on #582
Ah, thanks. I'll go ahead and close this one.

[2016-06-16 01:40] #582 closed

[2016-06-17 05:04] snoyberg commented on #577
completely inadequate to provide seamless and correct timezone
conversions.

In all these conversations, I've never seen an explanation of this claim. On the mailing list, someone asked that you demonstrate what you're trying to do.

Also, it's not an issue of false expectations. The ZonedTime data type was lossy: marshalling to and from the database would throw away information.

[2016-06-17 20:38] robertLeeGDM commented on #577
The false expectation was/is that ZonedTime (timezone with timestamp)
would store timezone information in the database, which is in fact not
the case and no claim was ever made by Postgres to that effect. The
data type's lossy behavior is not salient to its intended purpose in
Postgres which is to provide seamless and correct timezone conversions,
which in my opinion is far more important than sto

[2016-06-19 01:09] psibi commented on #576
@kyloel I'm bit occupied till coming Wednesday. What you can do is locally build my branch of the fix and test only your persistent related code with it. You don't need entire Yesod for testing it. I will try to [update this](https://github.com/yesodweb/persistent/blob/master/development.md) once I get some time.

[2016-06-20 12:54] snoyberg commented on #577
And why is it that converting a UTCTime value to a ZonedTime value doesn't do exactly the same thing?

[2016-06-21 00:59] robertLeeGDM commented on #577
For some reason UTCTime (at the SQL level?) is somehow forcing UTC (overriding the time zone session variable) in Postgres.

If it had not done so I would have little to complain about beyond both the semantic weirdness of UTC not really being UTC, and the need to add the timezone offset to show strings (or convert UTCTime to ZonedTime) so the browser can present data to javascript with an offset

[2016-06-21 03:47] snoyberg commented on #577
I don't know what this means, but it's starting to sound like you're
storing local time in UTCTime, since that type most certainly stores
UTCTime values. I'd need to see am example of the failure you're implying
to really know what's going on.

On Tue, Jun 21, 2016, 3:59 AM Robert <notifications@github.com> wrote:

[2016-06-21 18:49] robertLeeGDM commented on #577
This is most likely the culprit:
       Database.PostgreSQL.Simple.Time.Internal.Parser

-- | Behaves as 'zonedTime', but converts any time zone offset into a
-- UTC time.
utcTime :: Parser UTCTime
utcTime = do
  (Local.LocalTime d t) <- localTime
  mtz <- timeZoneHMS
  case mtz of
    Nothing -> let !tt = Local.timeOfDayToTime t
               in return (UTCTime d tt)
    Just tz -> let !(dd,t')

[2016-06-22 18:26] gregwebs commented on #579
I think it should be added.
* it's lightweight
* uuid is an important (even if overused) data type for databases

Want to send

[2016-06-22 18:52] robertLeeGDM commented on #577
Also, just to be clear, the way one instructs Postgres to report timestamps in a particular timezone is to perform a SET operation before SELECT. Without a SET TIME ZONE operation the default is to report times/dates/offsets in UTC.

SET SESSION TIME ZONE 'America/Chicago';
SELECT timestampwithtimezonecolumnX FROM tableX;

This will result in a time/date/offset correctly adjusted to Chicago time t

[2016-06-22 20:09] robertLeeGDM commented on #577
Michael, to address your concern about storing local time in UTCTime, many of the records I am retrieving have timestamps created by default in Postgres itself using the NOW() function. When I retrieve the resulting timestamp, and having correctly SET TIME ZONE 'America/Chicago' in runDB, the resulting UTCTime from persistent reports the UTC time/date and not 'America/Chicago' time/date. This is a

[2016-06-24 21:54] gregwebs commented on #578
It seems like you shouldn't put DeriveAnyClass in a cabal file then. My rule is anything in there should only be an enabler of a feature that without the program would fail. I do make an exception to this sometimes for OverloadedStrings because it is such an ingrained part of Haskell now.

Hmm, so this works now

[code]

I am not opposed however to adding the `Generic` instance and letting the use

[2016-06-25 02:44] gregwebs commented on #575
yeah, the upsert is happening in a transaction, so this error doesn't make sense to me. But would be good to use the new postgres upsert

[2016-06-27 09:11] seuros commented on #575
This looks like a race condition when multiple threads are hitting the database simultaneously .
Persistent is using a pseudo-merge (find/update_or_create) method to support multiple backends.
Postgresq 9.5+ and Mysql support a native UPSERT syntax that could fix this issue.

https://wiki.postgresql.org/wiki/UPSERT
http://dev.mysql.com/doc/refman/5.7/en/insert-on-duplicate.html

[2016-07-01 11:17] mrkkrp opened #584 "Support for partial match"
I would like to use SQL feature that allows to enter just part of string to search, like:

[code]

I don't see how to do it with Persistent.

[2016-07-01 13:22] psibi commented on #584
Did you try using `rawSql` ?

[2016-07-01 13:26] mrkkrp commented on #584
`rawSql` should not really be the way to do such common things, don't you think? Every time I'm trying to use `rawSql` it feels sort of painful and cumbersome experience.

[2016-07-01 13:31] psibi commented on #584
Yeah. But I don't think writing a `rawSql` based function is that cumbersome, for example:

[code]

Maybe a utility function for this can be added up in `persistent`.

[2016-07-01 13:34] snoyberg commented on #584
It's possible to do this with BackendSpecificFilter (
https://www.stackage.org/haddock/lts-6.5/persistent-2.2.4.1/Database-Persist-Types.html#v:BackendSpecificFilter),
though I haven't tried it myself in a while.

On Fri, Jul 1, 2016 at 4:26 PM, Mark Karpov <notifications@github.com>
wrote:

[2016-07-01 14:58] gregwebs commented on #584
Should be backend specific because semantics of these are always a different across backends  MongoDB has a lot of specific filters already. Esqueleto also supports this operation

[2016-07-01 21:01] parsonsmatt opened #585 "Instance for PersistField for Postgresql jsonb columns"
Would it be possible to have an instance for `Value` in `persistent-postgresql` that put the `Value` in a jsonb column?

[2016-07-03 11:52] mrkkrp commented on #584
@snoyberg, `BackendSpecificFilter` looks promising for my use case. Is there an example of its use somewhere?

[2016-07-03 12:02] psibi commented on #584
This may help you: https://stackoverflow.com/questions/11048143/example-of-persistent-with-backend-specific-operator

[2016-07-03 12:06] snoyberg commented on #584
I don't have one handy, perhaps there's one on StackOverflow.

On Sun, Jul 3, 2016 at 2:52 PM, Mark Karpov <notifications@github.com>
wrote:

[2016-07-03 12:06] snoyberg commented on #584
Hah, Sibi to the rescue :)

On Sun, Jul 3, 2016 at 3:06 PM, Michael Snoyman <michael@snoyman.com> wrote:

[2016-07-04 20:27] gregwebs commented on #585
I am all for jsonb

[2016-07-05 14:47] parsonsmatt commented on #585
:+1: I'll put together a PR

[2016-07-12 14:29] bitemyapp commented on #59
@snoyberg could we revisit this? Array support has been around for awhile in PGSQL and is fairly popular and recommended by experts like Craig Kerstiens.

[2016-07-14 07:52] jb55 opened #592 "persistent-mongoDB failing on ghc8"
Log: https://hydra.nixos.org/build/37240938/nixlog/1/raw

[2016-07-14 16:09] snoyberg commented on #577
For the record, despite the fact that I'm the one defending the status quo here, I don't in any way feel strong about this decision, it's simply a decision that seems to have no way to make everyone happy (evidenced by the fact that I got pressured in the first place to remove this instance). I say this because if someone else on the Persistent team wants to decide that this decision was wrong, I

[2016-07-14 20:40] robertLeeGDM commented on #577
I agree, large and public. If I can garner some time I'll work up some
(hopefully) simple persistent examples. I wish I had been following the
discussion that led to ZT's removal before a decision was made as
Postgres makes matters a bit tricky to get it right. Anything related
to times and dates and timezones in the real world can lead to crazy
headaches for anyone, including the cleverest of fol

[2016-07-21 12:16] Myrl opened #595 "List self reference is an error"
A list self reference will report an error due to the lack of Maybe.

[2016-07-23 18:52] psibi commented on #567
Closing the issue since it's fixed.

[2016-07-23 18:52] #567 closed

[2016-07-25 05:13] gregwebs commented on #595
Lets get this added to the test suite: do you have an example?

[2016-07-25 10:11] Myrl commented on #595
``
share [mkPersist sqlSettings { mpsGenerateLenses = True }, mkMigrate "migrateAll"] [persistLowerCase|
Root
    comment [Root]
|]

``

[2016-07-26 23:00] robertLeeGDM commented on #577
I've included a pair of code blocks in this message. The first is Haskell. The second is Postgres SQL.

The SQL demonstrates how to create a table and a view over that table. The view presents the column 'cronos' both in its original form as Timestamp with time zone, and as plain Text.

The haskell code will query the DB and print both cronos and cronosAsText. Both should be identical, but they wi

[2016-07-27 22:43] robertLeeGDM commented on #577
Just to add to my comment above. I jiggered a copy of persistent 2.5 and made a newtype ZT ZonedTime and added a new SqlType constructor SqlOffsetTime. The new version of Persistent works perfectly and supports both UTCTime as SqlDayTime and ZT as SqlOffsetTime.

I made it work with persistent-postgresql and made no attempt to try another database module.

[2016-07-28 03:41] winterland1989 commented on #577
I think maybe `LocalTime` maybe a middle ground because it's:

As long as you put a utc time into the database in timezone A, and you try read it in the same timezone, it's OK because the conversion is invisble to you. But the problem is exists when:

1. when people read the database using a different timezone, since sql server may want to do something *smart*.

2. Since it's impossible to set def

[2016-07-28 19:29] robertLeeGDM commented on #577
Naming to avoid confusion.
DTNAKED ~ MySQL DATETIME ~ Postgres TIMESTAMP
DTWOFFSET ~ MySQL TIMESTAMP ~ Postgres TIMESTAMP WITH TIME ZONE

SqlDayTime in the current 2.5 release is tied to UTCTime. When I jiggered 2.5 and added SqlOffsetTime/ZT as DTWOFFSET, and left SqlDayTime/UTCTime as a DTNAKED, my goal was to avoid breaking more than I had to.

I did have a similar thought that UTCTime as plain

[2016-07-30 07:57] saurabhnanda opened #598 "Feature request and RFC: Audit log"
Coming from a Rails/ActiveRecord background, I'm finding a lot of impedance mismatch between my regular through-process and the abstractions available in Persistent. I'm unsure if it's just that (impedance mismatch) or whether Persistent genuinely lacks some features available in ActiveRecord.

For example, audit logs.

Consider this as a feature request for audit-logs built into Persistent. Here

[2016-07-31 22:04] bergmark commented on #592
persistent-mongoDB is currently disabled from stackage because of this.

[2016-08-01 04:42] psibi commented on #592
This PR should fix it: https://github.com/yesodweb/persistent/pull/597

[2016-08-01 08:00] gregwebs commented on #598
Its a combination of the 2. Persistent is not actually an "ORM" because it doesn't work with objects based on user-defined classes with hooks, etc. This makes persistent lower-level but really easy to understand how it operates, whereas in Rails you will often be surprised when the ORM does or does not kick-in, for example when you do a batch insert and your callbacks are not triggered.

The above

[2016-08-04 13:34] cies commented on #109
For me not all needs (I certainly need Esqueleto and some just-drop-down-to-SQL-here'n'there), but it would allow me to do all migrations from Haskell.  I also would prefer to see them in the TH DSL, then in some `.sql` file that need to be executed "every once in a while" (I dont know if dbs skip the action "superfluously creating  already existing indexes" gracefully -- if so that would make kee

[2016-08-05 02:04] gregwebs commented on #595
pull request is up: #600

[2016-08-05 05:28] gregwebs commented on #595
oh hackage as persistent-template-2.5.1.6

[2016-08-05 05:28] #595 closed

[2016-08-07 01:55] psibi commented on #500
Closing this issue, please re-open if relevant.

[2016-08-07 01:55] #500 closed

[2016-08-12 13:56] edgmnt opened #603 "Blob/file storage"
This is a feature request for storing blobs/files in databases which provide more efficient means for that, e.g. Postgresql has a non-SQL interface in its large objects API. It should support streaming via a conduit and perhaps we should consider seeking as well. Any thoughts?

[2016-08-13 16:12] gregwebs commented on #603
It would be best to push the logic into the drivers where possible. This is tough to explicitly add to persistent since many dbs do not have support for it.

[2016-08-13 22:45] gregwebs commented on #592
should be fixed on master now. Will release once built on Travis.

@bergmark Its too bad that stackage nightly doesn't provide its own push-back to prevent these kind of upstream releases. mongoDB should not have been pushed forward on stackage nightly and should have been kept at a previous version.

[2016-08-13 22:45] #592 closed

[2016-08-13 23:04] bergmark commented on #592
We usually put an upper bound in place but it looks like this package never built on GHC 8 so it was disabled when nightly moved to GHC 8. But I'm not sure why it didn't show up in fpco/stackage#1476

[2016-08-14 14:58] dfordivam opened #606 "Full Text / Natural language query support"
Many DBs support the full-text/natural language query natively.  This is a feature request to add support for doing these queries.

These are the links with details of the native support.

[Mysql](http://dev.mysql.com/doc/refman/5.7/en/fulltext-natural-language.html)
[Postgres](https://www.postgresql.org/docs/current/static/datatype-textsearch.html)
[MongoDB](https://docs.mongodb.com/manual/refere

[2016-08-19 20:28] psibi commented on #575
Note that the latest version of persistent supports native upsert for postgresql.

[2016-08-26 10:35] mrkkrp opened #607 "Problems with `selectSource`"
I'm running into segfaults when using `selectSource` (I think it's related to this function because if I rewrite it using `selectList` everything works OK). I'm not sure what is wrong, since the code compiles and I already used the same idiom in another project to process large quantities of data without any problem.

First of all I have a function that returns source of all organizations:

[code]

[2016-08-26 11:47] mrkkrp commented on #607
Ah no, now it started to manifest itself with `selectList` just as well. If anyone knows what this message could mean, please tell me.

[2016-08-26 11:47] #607 closed

[2016-08-26 11:58] snoyberg commented on #607
There's a failure when making an HTTP request. Upgrading to the latest
http-client will give a more informative error message.

On Fri, Aug 26, 2016, 2:51 PM Mark Karpov <notifications@github.com> wrote:

[2016-08-26 12:00] mrkkrp commented on #607
Thank you, I'll look into that. I initially also thought about `http-client` because `InternalIOException` is defined there, but that thing about `selectSource` fooled me into thinking that it's Persistent-related.

[2016-08-29 17:59] parsonsmatt opened #608 "Can't use `id` in Primary definition"
Given the entity definition:

[code]

I get the error:

[code]

If I add an explicit `id` column:

[code]

Then I get this error:

[code]

If I use the uppercase `Id` syntax:

[code]

then we're back to this error:

[code]

Omitting the `Id Int` declaration doesn't alter the previous error.

[2016-09-01 03:55] gregwebs commented on #606
I think each backend should welcome custom operators independently. Nobody will be satisfied with an attempt to unify this across backends. MongoDB has a lot of custom operators already such as `anyEq` and it shouldn't be hard to add `$text`.

[2016-09-01 03:59] gregwebs commented on #608
This is the closest to what you want, and something that persistent should support:

[code]

If you change the name of `id` (but you can keep it as that in the db) it should work.

[code]

[2016-09-08 20:59] mrkkrp commented on #575
@psibi How do I use it? I checked quickly what you have done in #587, and it looks like I should get `SqlBacked`, get that function from it and then what?

[code]

Any comment on the type of this function?

[2016-09-08 21:08] psibi commented on #575
Just make sure that your postgres is 9.5+ and `persistent` will automatically use that feature.

[2016-09-09 06:32] mrkkrp commented on #575
@psibi Thanks. Where do you dispatch? I see source code of both `upsert` and `upsertBy` does not use `connUpsertSql``.

[2016-09-09 09:41] psibi commented on #575
Here: https://github.com/yesodweb/persistent/blob/18028b4d4403ee2b2636fe2c9b8ffee6b4cded33/persistent-postgresql/Database/Persist/Postgresql.hs#L193

[2016-09-09 09:49] mrkkrp commented on #575
I mean when I use `upsert` function from `Data.Persist.Class` how it boils down to using this backend-specific feature?

[2016-09-09 09:53] mrkkrp commented on #575
Ah nevermind, this is not just a function but a method of type class. (Big type class.)

[2016-09-16 14:20] edgmnt opened #609 "Proper array fields"
Arrays/lists are currently stored as serialized JSON. The problem with this representation is we can't run DB queries against such arrays.

For example, suppose you have a database of a library. There's a table that stores each shelf along with the books on it (in order) and another table that stores book information. How do you query the database for shelves which contain books by E. A. Poe? With

[2016-09-17 15:28] gregwebs commented on #609
Yes, that has always been the plan

[2016-09-20 18:25] psibi commented on #558
@chreekat removed the dangling do in https://github.com/yesodweb/persistent/pull/610. Closing the issue. Please re-open if necessary.

[2016-09-20 18:25] #558 closed

[2016-09-27 07:07] phadej opened #611 "http-api-data <0.3 in persistent:tests"

[2016-09-27 08:09] #611 closed

[2016-09-29 04:29] mchaver opened #612 "derivePersistEntity?"
Would it possible to create a function `derivePersistEntity` (like `derivePersistField`) that creates a `PersistEntity` from an already existing data type or are there a lot of issues with something like that?

[2016-09-29 06:04] mchaver commented on #612
Without thinking about the implementation, it seems like it shouldn't be an issue if you want Persist to automate everything for you. If you want control over the rows it connects to in DB then it won't work well. Another option would be to use Persistent QuasiQuoters to decorate an existing type, that might require a bit of rewiring in persistent-template.

[2016-10-04 20:27] chreekat opened #613 "Persistent does not implement upsert"
Upsert is an either/or. Either the row exists and is updated, or it does not exist and is inserted.

Persistent, however, implements a function that inserts _and then updates_ a row that does not exist. The tests expect that behavior, even though it is incorrect. What's more, Persistent's version of upsert _replaces_ a row that exists, rather than just updating it![*] Nowhere have I read that to b

[2016-10-04 23:33] chreekat opened #615 "Quieter tests = faster tests"
While working on persistent today, I ended up using the following patch just to get better turnaround on tests: http://lpaste.net/241971

Some of that is just a hack (like cutting out -DDEBUG), some of it might be useful (reduce duplication by not calling `printMigration` _and_ `runMigrationUnsafe`), but my point is this: with every failed unit test, the runner was printing out hundreds (thousands

[2016-10-05 05:18] psibi commented on #613
Hey, can you show an example of this by a small snippet in both scenarios ? Does this affect the end result now ?

[2016-10-05 10:44] cdepillabout opened #616 "`getEntity` helper method"
If I were to submit a PR adding a `getEntity` helper method, would it be accepted?

[code]

It would be basically the same as the [`insertEntity`](https://www.stackage.org/haddock/lts-7.2/persistent-2.6/Database-Persist-Class.html#v:insertEntity) helper method:

[code]

[2016-10-05 16:15] chreekat commented on #613
Here's a complete example. This contrivance has users and their (unique) accounts.

I want to add two units to a user's account. If the account exists, increment the balance. If it does not, initialize it with two units.

[code]

On master, this prints

    [Account {accountUsr = UsrKey {unUsrKey = SqlBackendKey {unSqlBackendKey = 1}}, accountBalance = 4}]

The user's balance is 4 instead of 2.

T

[2016-10-05 16:26] psibi commented on #613
Oh yeah, this seems wrong. It *should* be `2`.

[2016-10-05 17:29] chreekat commented on #613
Good, I'm not crazy. :)

In the new tests in #614, I also demonstrate the other bug, which is that an existing row is first *replaced*, and *then* updated. Clearly it should only be updated.

[2016-10-05 17:36] psibi commented on #613
@chreekat There are lots of tests there in that PR and I'm lazy. Can you point out the line number in that PR (or demo it using a small snippet ) demonstrating the other "bug" which you are talking about ?

I also checked your above script for Postgres 9.5+ and it also had the same bug. Note that postgres 9.5 + has a different code flow for the upsert query and right now it's not being tested in T

[2016-10-05 17:52] chreekat commented on #613
Combining the tests to be efficient with boilerplate:

[code]

The second bug is not as general as I first reported, but it's still a bug. I'll rewrite the issue. The second bug is specifically "If no updates are provided, an existing row is replaced." I still don't think that's what upsert is supposed to do.

[2016-10-05 17:58] chreekat commented on #613
@psibi oh, the new backend-specific upsert is also implemented incorrectly for Postgres? I'll inspect that, but I can't test it locally atm.

[2016-10-05 18:10] chreekat commented on #613
Yep, https://github.com/yesodweb/persistent/blob/master/persistent/Database/Persist/Sql/Orphan/PersistUnique.hs#L34

That implements the second bug by using `defaultUpsert` when updates == `[]`. I don't think the new `connUpsertSql` has the right shape for a quick fix, though. Postgres will need `ON CONFLICT (...) DO UPDATE SET (...)` when `updates /= []`, and `ON CONFLICT (...) DO NOTHING` when `

[2016-10-05 18:27] psibi commented on #613
@chreekat Don't worry, I will fix that postgres bug as soon as I get some time. Regarding your second "update bug", I don't understand why it is a bug. Why do you think it should be `inserted` and not `new value` ? My understand is that if there is already a row present for that unique constraint, we just replace all other values for that unique constraint. Note that the `upsert` function itself w

[2016-10-05 19:22] chreekat commented on #613
I interpret `upsert newVal []` to mean, "Insert newVal if it violates no constraints. Otherwise, do nothing."

That would be equivalent to Postgres' `insert into ... on conflict (...) do nothing`.

It would also be equivalent to MySQL's `insert... on duplicate key update`.

The behavior you are talking about is equivalent to MySQL's `replace`. I think it's a useful function, but it's not `upsert`.

[2016-10-05 21:46] bitemyapp opened #617 "Flag to make `??` optional for rawSql queries"
This sucks:

[code]

I have to drop the `rk` on the floor or it complains about there being too many columns. I can't reference the columns of the subselect without aliasing them, or it complains about ambiguous references.

[2016-10-06 05:15] chreekat commented on #613
Another way to look at it: if I really want to replace an existing entry with `upsert`, I would write

[code]

Making `upsert newVal []` a special case that does the same thing is surprising to me. And, how then should I do the equivalent of `insert ... on conflict do nothing`?

[2016-10-06 05:20] psibi commented on #613
Okay, I see your point. IMO, this needs a good documentation with examples on haddocks.

[2016-10-06 09:21] psibi commented on #613
@chreekat By the way, the postgres 9.5+ server - doesn't have the "insert bug:. Yesterday, I was running an old version of the persistent library. But, I did encounter a new bug - while testing it (which is completely unrelated to this). I will send a PR for that soon.

[2016-10-06 14:23] chreekat commented on #613
Agreed about haddocks. A version bump too, since it's changing behavior. I'm busy today, and maybe all next week, but I'll get to it if I can.

[2016-10-06 17:53] snoyberg commented on #616
I don't see a problem with it. Are you essentially talking about:

    insertEntity x = (`Entity` x) <$> insert x

[2016-10-06 23:51] cdepillabout commented on #616
Yes, it's basically the same thing.  I imagine `getEntity` would be written similarly to `insertEntity`:

[code]

I normally end up writing `getEntity` myself for any sufficiently big project that uses Persistent.  That's why I think it would be nice to just add it in to Persistent.

However, it's a petty simple function, and I can understand if you don't want to clutter `Database.Persist.Class`'s

[2016-10-07 13:19] psibi commented on #613
I'm working on a related code in Persistent and will try to fix this by tonight.

[2016-10-07 13:23] psibi commented on #613
@chreekat This commit https://github.com/yesodweb/persistent/pull/618/commits/64a9c9aa491ccfa7279934ee4c5762f418987d4b specifically fixes both the bug described by you in the issue. Would love to hear your feedback. I will add Haddock docs soon with examples for `upsert`.

[2016-10-07 15:50] chreekat commented on #613
Well, #614 fixes this bug as well as the tests. Did I miss something?

[2016-10-07 18:16] gregwebs commented on #616
yeah, this is a good helper, a PR would be great. It can go outside any typeclass.

[2016-10-10 22:51] chreekat opened #619 "`selectList [FooColumn /<-. [Nothing]]` generates SQL that chokes PostgreSQL"
Tested with Postgres 9.3. The generated sql looks like

[code]

That works on sqlite v3, but Postgres 9.3 says

[code]

...

Note that the following work fine:

#### Maybe null

[code]
[code]

#### Not null and not *x*

[code]
[code]

[2016-10-11 08:17] #616 closed

[2016-10-14 21:56] erikd opened #621 "Option to read PGPASSWORD environment variable"
Obviously never want to have real Postgresql password in `config/postgresql.yml` because the Yaml file is stored in Git (and maybe even be on github). However do want to be able to run the tests against a real Postgres instance even when building and testing in CI.

Haven't found a nice way to do this with what persistent-postgresql already provides but this could me achieved by having a special p

[2016-10-14 22:05] erikd commented on #621
Wondering if might be better to allow `env ANY_ENV_VARIABLE`.

[2016-10-15 01:38] psibi commented on #621
Maybe I'm missing something, but shouldn't something like this work right now: https://github.com/yesodweb/yesod/wiki/Configuration#overriding-configuration-values-with-environment-variables ?

[2016-10-15 02:13] erikd commented on #621
Yes indeed that does what I need. Its even a better solution than the one I was proposing. Thanks @psibi !

[2016-10-15 02:13] #621 closed

[2016-10-15 19:55] psibi opened #622 "Enforcing uniqueness constraint for MongoDB"
While looking on why [the tests](https://github.com/yesodweb/persistent/pull/618) was failing for this PR, I observed that the uniqueness constraint was not setup for MongoDB and it has been mentioned explicitly in the documentation.

With the presence of the [createIndex function](https://www.stackage.org/haddock/lts-7.3/mongoDB-2.1.1.1/Database-MongoDB-Admin.html#v:createIndex) in mongoDB packag

[2016-10-18 13:31] qrilka opened #623 "Why can't I supply my own connection to Persistent?"
Looking into `persistent-mysql` it looks that it's possible to do queries only thought connections managed by `persistent`.
Is there any strong motivation behind that or it's just supposed that you should use DB only through `persistent`?

[2016-10-18 14:07] expipiplus1 opened #624 "The documentation for the latest version of this package is missing on Hackage."
The documentation for the latest version of this package is missing on Hackage. They've been pending on Hackage for some time, this usually indicated that Hackage wasn't able to build the package.

Is it possible for you to manually upload the package using `cabal upload --doc`, please?

Thanks!

[2016-10-18 17:00] psibi commented on #624
You can always use Stackage: https://www.stackage.org/package/persistent (Infact, I use that as my default)

[2016-10-20 01:40] dfithian opened #625 "persistent-mongoDB: inconsistent data on write actions leading to inaccurate reads"
In persistent-mongoDB `insertKey` is implemented using `toInsertDoc`, which omits "null" values from the write action (empty collections and Nothing, for example): https://github.com/yesodweb/persistent/blob/master/persistent-mongoDB/Database/Persist/MongoDB.hs#L452

`insert` also leverages `toInsertDoc`.

However, `repsert` serializes using `recordToDocument`, which does not filter "null" values:

[2016-10-28 20:02] andrewthad commented on #612
This would be pretty helpful.

[2016-10-28 20:04] andrewthad commented on #619
I think you can just use:

    selectList [MyFieldName !=. Nothing ] []

[2016-10-28 22:16] chreekat commented on #619
Heh that's a good point. I just assumed that that would create a naughty comparison against null, but I didn't actually confirm such a thing.

It's still broken either way, though, and I wonder what  `/<. [Just 1, Nothing]` looks like. (Busy now, but I'll look at these cases next week.)

[2016-10-29 04:32] gregwebs commented on #612
You kind of walked through the problems :) You can look at what groundhog does, and although it works I much prefer persistent's style. In an ideal world persistent might switch to groundhog's TH machinery and be capable of both. Or peristent might use the little known annotations feature to add metadata onto existing types.

[2016-10-31 22:47] chreekat commented on #619
I'm removing my comment about `is not null`. It is handled by `!=. Nothing`. Also updating to show that there are cases that *are* handled correctly.

[2016-11-07 04:30] gregwebs commented on #625
I thought it was bad practice to write queries that are only satisfied by an empty list or a null. Persistent queries will check for not-existence.

I wrote this before MongoDB's newer storage engine when it was well known that their storage was very inefficient, so it seemed like a win to not write anything to the document. If you could point out that the cost of writing nulls is very low than I

[2016-11-07 04:31] gregwebs commented on #625
Definitely any inconsistencies should be addressed.

[2016-11-07 15:30] gregwebs commented on #619
I am not familiar with using `NOT IN` with a list that contains null. It sounds like a recipe for confusion. Are you suggesting to generate SQL that does that?

[2016-11-07 21:50] chreekat commented on #619
I think what `x /<-. (Nothing : xs)` represents is `x IS NOT NULL AND x NOT IN (...)`. That's actually what Persistent already seems to do.

While nobody needs to *write* `x /<-. [Nothing]`, one could conceivably write `x /<-. (Nothing : xs)` in a situation where `xs == []`. That would result in the same runtime failure. So, while my original report was flawed, I still think there's a bug worth no

[2016-11-08 05:41] gregwebs commented on #619
hmm, if I were starting from scratch I would only allow passing in `[a]` and not `[Maybe a]`.

[2016-11-08 13:15] gregwebs commented on #619
here is a fix: https://github.com/yesodweb/persistent/pull/631

[2016-11-08 16:16] dfithian commented on #625
The *computed* value for a query might be an empty list, but in the current state of things an empty list would be omitted from the document when writing. As a result, the empty list is not equal to a missing value, and the query fails to satisfy that case. I'll look into storage.

[2016-11-08 16:20] chreekat commented on #619
Cool, that may do it. I'd like to try it out locally, but it's a busy week and might not get to soon (and a spotty internet connection seems to have just caused stack to corrupt ~/.stack...). lgtm, thanks!

[2016-11-08 18:54] gregwebs commented on #619
Ok, this is merge to master now. Let me know how it goes.

[2016-11-08 18:54] #619 closed

[2016-11-11 02:03] enolan opened #633 "Make persistFileWith use project-root relative paths"
With code like this:
[code]
If you run `stack ghci` from a directory other than the project root you get this error:
[code]
I started a quick and dirty PR than just copy pastes `makeRelativeToProject` from `file-embed` in and uses it, but then I realized that's @snoyberg's package. Maybe `file-embed` should expose it? Or expose something like `embedFileText :: FilePath -> Q Text`?

[2016-11-11 04:52] snoyberg commented on #633
file-embed does expose that function:

https://www.stackage.org/haddock/lts-7.8/file-embed-0.0.10/Data-FileEmbed.html#v:makeRelativeToProject

On Fri, Nov 11, 2016 at 4:03 AM, Echo Nolan <notifications@github.com>
wrote:

[2016-11-11 05:21] enolan commented on #633
Oops! How did I miss that?

[2016-11-14 14:57] gregwebs commented on #633
a PR would be welcome :)
Since persistent does not depend on file-embed, a copy & paste of code from there could make sense.

[2016-11-16 12:15] qrilka opened #634 "Bug in wiki?"
https://github.com/yesodweb/persistent/wiki/Persistent-entity-syntax#nullable-fields shows `default=Nothing` as a way to set `NULL` by default but in the section below it's said that:
[code]
and http://hackage.haskell.org/package/persistent-2.6/docs/src/Database.Persist.Sql.Internal.html#defaultAttribute shows that it's correct

P.S. that em dash without surrounding spaces looks quite odd in that

[2016-11-17 09:19] maxigit opened #635 "Qualify table with database name"
Is there a way to use persistent across different database?
I tried qualifying the using `sqlname=db.table` but it's seen as a table name.
I also tried

    sqlname=db`.`table

But the backticks are escaped . I understand this is a normal behavior chances is are that if you find a `.` in a table name, it's qualified table rather than a name with dot in it.

[2016-11-17 16:29] MaxGabriel commented on #634
That does sound like a bug to me. Would you be up for running a quick test to see if default=Nothing works, and updating the documentation accordingly?

I think the use of spaces around em dashes is a regional thing, or just a font thing. Wikipedia says [different style guides](https://en.wikipedia.org/wiki/Dash#Spacing_and_substitution) have different recommendations:

Here are some quotes from B

[2016-11-17 16:45] qrilka commented on #634
@MaxGabriel the reason of this issue was a migration failure because of that `default=Nothing` which was fixed by `default=NULL` :)

[2016-11-17 17:44] MaxGabriel commented on #634
Ah, nice! I've updated the wiki with that fix!

[2016-11-17 17:44] #634 closed

[2016-11-17 22:03] jairoGilC commented on #264
this is very useful, I think that this should be reopened

[2016-11-26 03:12] rdnetto commented on #109
Speaking as someone new to Persistent (who found this issue when trying to figure out how to handle index creation), the thing I'd like to see most is the best practice (whatever that is) for index creation documented in the [Yesod book](http://www.yesodweb.com/book/persistent). The alternative is that everyone has to re-discover this for themselves, and repeat the same mistakes.

[2016-12-04 22:58] emanuelkoczwara opened #637 "Missing mapping from text to field name"
Hi,

I'm playing with servant and persistent and I've found this issue. My api has something like that:

[code]

Here, ```OrderBy``` would be ```Text``` representing column name (or haskell datatype name). Now I would like to use ```selectList```. To do that I need convert incoming ```Text``` to ```EntityField```. Using this data as example:

[code]

I am unable to write this function:

[code]

I

[2016-12-06 19:05] mwotton opened #638 "persistent-postgresql does not support intervals?"
is there a reason persistent-postgresql doesn't support intervals? it seems like it would map quite nicely to NominalDiffTime.

[2016-12-08 21:13] enolan opened #639 "Please tighten persistent-sqlite <= 2.5.0.2's upper bounds on persistent"
In relation to commercialhaskell/stack#2824: `persistent-sqlite-2.2.1` and probably every version up to and including 2.5.0.2 will build against `persistent-2.6` with this warning: `Fields of ‘SqlBackend’ not initialised: connUpsertSql`. This causes a runtime error when `connUpsertSql` is read before doing an upsert. Tightening the upper bound would make it fail at configuration time.

[2016-12-09 01:13] Profpatsch commented on #578
I’m so glad this issue exists, I would have never found the reason why it didn’t work.

[2016-12-09 08:05] Profpatsch opened #640 "runMigrationSilently doesn’t work"
On my linux machine `runMigrationSilently` just returns an empty lists and still prints everything to `<wherever I log it>`.

The code uses `capture_` from `silently`, which tries to capture a handle output, writes it to a temp file and reads that file back again. That’s quite a brittle hack! And probably completely unnecessary …

[2016-12-13 14:32] mwotton opened #642 "persistent-postgresql can't handle the "infinity/-infinity" date types in postgresql"
Postgresql supports the notion of dates that are before and after every date other than themselves, and denotes them as 'infinity' and '-infinity'. If I try to use them, however, I get this:

[code]

the test should really be that it doesn't throw an exception, but this is good enough to show it.

it results in

[code]

this one made it to production because i didn't test my migrations :/ luckily

[2016-12-13 14:48] Profpatsch opened #643 "deriving (PersistField, PersistFieldSql) causes GHC panic"
[code]

When I try to use `DeriveAnyClass` to derive `PersistField` and `PersistFieldSql`, ghc first warns:

[code]

And then crashes when I use the type in a `persistLowerCase` splice, like so:

[code]

[code]

The automatic instances probably have to be adjusted to have defaults for newtypes.

It works if I create the boilerplate myself:

[code]

[2016-12-17 17:26] ultratwo commented on #527
There are two basic approaches. We can use `INSERT ... VALUES` statements, which is how database authors intend that bulk inserts be performed. This will require teaching each backend to turn a list of `PersistValue` into a `VALUES` statement. Alternatively, we can chunk `insertMany_` statements. The simplest way is probably to add a `connMaxPlaceholders :: Maybe Int` to `SQLBackend`.

Unless we h

[2016-12-18 01:29] gregwebs commented on #643
Is there something persistent should be doing differently or is this a GHC bug that should be reported?

[2016-12-18 01:38] gregwebs commented on #642
yes, documenting this in the PostgreSQL module would be great!
There are probably lots of other types where the same issue with inifinity would happen? Also, NaN.

If you want to have this data in your DB then you really need to use an appropriate type, certainly UTCTime is not it, although I am unfamiliar with infinity in Haskell. Maybe create a PGTime that wraps UTCTime: when you unwrap you have

[2016-12-18 01:41] gregwebs commented on #643
another DeriveAnyClass issue: https://github.com/yesodweb/persistent/issues/578

[2016-12-18 05:48] gregwebs commented on #640
I presume you mean `runMigrationSilent`. I don't know how it could return an empty list if there was a migration to apply.

Do you want this function to be deprecated?

[2016-12-19 17:17] Profpatsch commented on #643
I have no idea, unfortunately. It’s probably a bug in Template Haskell?

[2016-12-19 17:18] Profpatsch commented on #640
I think it’s a good function to have, but it should not try to capture from the output handle, rather use internal data structures and return them instead of printing.

[2016-12-23 23:04] gregwebs commented on #638
Probably its just a pull request away :)

[2016-12-23 23:30] mwotton commented on #638
:) righto. i'll see if i get some time over the break.

[2017-01-02 06:58] rdnetto opened #647 "Schema generation is broken for composite foreign keys"
# Summary
When attempting to use composite foreign keys, persistent will allocate only one column in the table instead of two.

For Sqlite, migration succeeds and entries can be inserted only because foreign key constraints are disabled by default. Once #646 has been merged, it will not be possible to insert anything into the table.

For Postgres, migration fails with the following:
[code]

# Expe

[2017-01-08 00:50] sol commented on #474
In general, I think it would be more robust to not rely on `silently` to control verbosity.

[2017-01-09 11:39] rdnetto commented on #647
Note: this may be related to #341.

[2017-01-11 21:18] tebello-thejane opened #649 "Automatic (TH) PathPiece generation is poorly documented, and confusing"
The documentation for `mkPersist` says

I'm struggling to understand why it also creates `PathPiece` instances. In particular, I have hit a confusing issue where, with more than two tables being defined, using an enum type (whose instances where generated via `derivePersistField`) in the one table causes the compiler to complain that the data type does not have the appropriate `path-pieces` instan

[2017-01-12 04:26] tebello-thejane commented on #649
Here is a minimal example.

In a separate module, we have:
[code]

Then our main program has:
[code]

The compile will complain with
[code]

My problem still stands: I fail to see why these instances are needed, and I feel that the documentation does not address this behaviour of `mkPersist`.

[2017-01-13 07:04] BartAdv commented on #141
Sorry for digging up the old issue, but relates directly to my question - what is the rationale behind this? Why not just let programmer specify the additional options for a foreign key and not to have to care about calling `mkDeleteCascade` and then not to have use `deleteCascade` instead of `delete`?

[2017-01-28 05:59] dfordivam commented on #598
@saurabhnanda I have had a similar requirement, and have written a small wrapper library code to this. The main intention here was to avoid boilerplate code. You can try it out to see if its useful [https://github.com/dfordivam/persistent-cdc](https://github.com/dfordivam/persistent-cdc).

[2017-02-10 06:14] erikd commented on #624
@psibi Not everyone uses stackage so I don't think suggesting stackage is a good idea.

One problem I see is that stackage lists a very small subset of the versions listed on Hackage and sometimes its the minor differences between versions someone might be interested in.

To me, it seems that `cabal upload --doc` is at most a minor inconvenience.

[2017-02-10 06:50] psibi commented on #624
I closed the issue as the latest version of Hackage docs was working for persistent. :-) Anyway, I'm re-opening the issue.

[2017-02-18 19:42] psibi opened #650 "Proposal: Add insertGet and insertGetEntity in Database.Persist.Class module"
The implementation of `insertGetEntity` would be something like this:

[code]

Similarly, `insertGet` would have a type signature of `record -> ReaderT backend m record`. We are already using these function in one of our internal projects and are finding it quite useful. I will send a PR if no one opposes. :)

[2017-03-01 07:14] #527 closed

[2017-03-01 07:33] liskin commented on #527
Thanks :-)

[2017-03-05 21:07] psibi commented on #650
`insertGetEntity` is the same as `insertEntity` which I just recently discovered some days ago. The naming always suggested that we are inserting an Entity, so I didn't look at the type signature before. :-) I have opened a PR with other two utility functions here: https://github.com/yesodweb/persistent/issues/656

[2017-03-06 12:58] #650 closed

[2017-03-07 16:58] parsonsmatt opened #657 "[persistent-mysql] selectSource does not stream results"
Currently, MySQL's backend doesn't actually stream the results: [see this Google Groups thread](https://groups.google.com/forum/#!searchin/yesodweb/selectsource%7Csort:relevance/yesodweb/Z2DH8T6iwlc/-1Z-x3gifykJ), which I'm copying here for reference:

current code, so I still remember a bit or two.

results [1], even if you use `selectSource`.  That's because it uses
`mysql_store_result` [2] inst

[2017-03-10 21:04] mitchellwrosen opened #658 "`persistFileWith` not dependent on file?"
I noticed touching my `models` file was not reliably causing any migrations to occur, so I had a peek at the code:

[code]

Why is the `qAddDependentFile` line guarded by `#ifdef GHC_7_4`? Should that instead be `#if __GHC_VERSION__ >= 704`?

[2017-03-10 21:24] mitchellwrosen commented on #658
Huh, actually this was a red herring, somehow. The problem was running `stack build` in my multi-package project doesn't trigger this TH, but a `stack build <package>` does.

[2017-03-12 00:56] naushadh opened #659 "Proposal: Port persistent-mysql to use a pure haskell database driver."
`persistent-mysql` uses [mysql](https://hackage.haskell.org/package/mysql) (via [mysql-simple](https://hackage.haskell.org/package/mysql-simple)) as the database driver. `mysql` is a haskell FFI wrapper for `mysqlclient` written in C.

Reasons to use a pure haskell driver:
- `mysql` has [concurrency issues](https://ro-che.info/articles/2015-04-17-safe-concurrent-mysql-haskell) as noted by @feuerba

[2017-03-16 10:31] snoyberg commented on #659
I'm not that familiar with the mysql backend, but I like this in theory. What about starting it off as a separate package (persistent-mysql-haskell?) and ask people to provide feedback? If it's well accepted, we could either replace persistent-mysql with this code, or simply deprecate persistent-mysql in favor of the new package.

[2017-03-17 18:11] whittle commented on #563
I am also seeing this bug. I am using printMigration to advise, but it makes my test runs very noisy now, not to mention my server logs.

I have experienced this bug since upgrading stack from LTS-6.30 (`persistent-2.2.4.1`, `persistent-mysql-2.3.0.2`) to LTS-8.5 (`persistent-2.6.1`, `persistent-mysql-2.6.0.1`). Would it help if I bisected over intervening releases of persistent and persistent-mys

[2017-03-21 00:25] naushadh commented on #659
I'm okay with the idea. Would this new package be part of the persistent repo (`persistent-mysql-haskell` sitting beside `persistent-mysql`)? If so, I can close this in favor of a new issue where we can discuss the API, and potential b/w incompatible changes for better forward compatibility (ex: `mkConnectInfo` function in lieu of a `defaultConnectInfo` variable).

[2017-03-21 04:32] snoyberg commented on #659
I'm not sure that there's a strong reason to have this live in the main repo, having a separate repo for this shouldn't hurt anything. We can consider moving it into the main repo later if desired (e.g., to make it easier to test compatibility with changes in persistent itself).

[2017-03-23 10:37] NorfairKing commented on #147
+1 still having this issue.

[2017-03-24 14:56] maxigit opened #660 "selectKeys & co doesn't work for Text key"
I'm plugin persistent to an existing database. One of the table uses Text as primary key.
Trying to load the keys using `selectKeysList` returns

    PersistMarshalError "Unexpected in selectKeys False: [PersistText \"my key\"]"

However using `selectList`, then `map entityVal` works.

This error message comes from `PersistQuery.hs:114`

        parse xs = do
            keyvals <- case entityPrim

[2017-03-25 16:30] naushadh commented on #659
I understand the need to gauge public interest before `persistent-mysql-haskell` is a part of `yesodweb/persistent`. However I'd like to ship `persistent-mysql-haskell` with tests that guarantee functionality and compatibility (with persistent).

For easier maintenance, pulling `persistent-test` changes from upstream, I'd like to keep the source-code of `persistent-mysql-haskell` part of my fork o

[2017-03-26 15:08] snoyberg commented on #659
That makes perfect sense, and then if/when it's ready, you can just send a PR and we can include it here.

[2017-03-26 21:36] naushadh commented on #659
👍

[2017-03-26 21:36] #659 closed

[2017-03-29 20:39] mitchellwrosen commented on #613
Output of `stack script --resolver lts-8.6 bug.hs` (persistent-2.6.1) on @chreekat's first example given above:

[code]

Looks like the bug is still there, since `accountBalance` should be 2.

[2017-03-30 12:14] psibi commented on #613
@mitchellwrosen The combined PR of mine and @chreekat 's is available here which fixes the problem: https://github.com/yesodweb/persistent/pull/618

Greg wanted some changes for MongoDB in that pull request to which I haven't yet gotten back to. Also, I there there are some conflicts in that file (which should be easily resolved) right now. I will see if I can give some time to the PR this weekend

[2017-03-30 15:18] mitchellwrosen commented on #613
@psibi I _hope_ I don't have to fix up this PR, but I do need this fix in. Would be great if you or someone else with better knowledge of the code could close this one out. Thanks!

[2017-04-05 18:23] udarkness opened #661 "Postgres schemas and migrations"
Not possible to migrate if there is a table with the same name in other schema.
**Example:**
There is an existing "stat"."user" table
and the migration is for "public"."user" (default schema)
Extra: models
[code]
**Result:**
persistent is not creating the table "user" in "public" because of the one in "stat", after it I get:
[code]

[2017-04-07 08:37] snoyberg commented on #661
It would be helpful to have some script (ideally something like a Docker self contained script) to reproduce this issue. I'm unlikely to have a chance to jump into this bug in the near future, but hopefully it will help someone else debug this.

[2017-04-07 22:54] rkaminsk opened #662 "upsert broken in recent persistent versions"
A call to `upsert (Table 1 0) [TableCount +=. 1]` generates an SQL query like
[code]

Now PostgreSQL complains:
[code]

To fix this, column `"count"` should be qualified with the table. Using `SET "count"="table"."count"+1` works as expected.

I tested this with PostgreSQL 9.6.2 and Persistent 2.6. Older versions of persistent where multiple queries were used did not have the problem.

[2017-04-08 03:00] psibi commented on #662
This is fixed in this PR: https://github.com/yesodweb/persistent/pull/618

[2017-04-08 03:13] psibi commented on #613
@mitchellwrosen I have updated the PR. Can you see if it works for you ?

[2017-04-08 05:09] psibi commented on #662
Update: It's not completely fixed and it seems to fail in some special case in recent version of postgresql 9.6.

[2017-04-08 08:16] psibi commented on #662
@rkaminsk

I have updated the PR to include the fixes. Can you give it a try and confirm if it works for you ?

I have tested on Postgresql 9.5.4 and 9.6 and it works for me there.

[2017-04-08 10:26] rkaminsk commented on #662
Yes, 5d625779255725ac934a1fadff6a77650a8dba77 fixes the issue here! Thanks. -R

[2017-04-08 15:32] mitchellwrosen commented on #613
Both bugs originally reported by @chreekat were fixed in the latest #618. Thank you!

[2017-04-09 13:50] Gothdo commented on #563
Someone with a similar problem asked a question on Stack Overflow: [Yesod database migration loop](http://stackoverflow.com/q/43080647/3853934). I found out that it can be solved by adding `default=NULL` to each `Text Maybe` column. For example:
[code]

[2017-04-10 08:19] udarkness commented on #661
I am not sure if this is really necessary.

I looked in the code for a possible explanation, here the result:
- see this line: https://github.com/yesodweb/persistent/blob/master/persistent-postgresql/Database/Persist/Postgresql.hs#L475
- It doesn't take in mind the current schema, it should be
`
sql = "SELECT COUNT(*) FROM pg_catalog.pg_tables WHERE schemaname = current_schema()"
<> " AND tablenam

[2017-04-10 09:22] snoyberg commented on #661
Seems reasonable from your description.

[2017-04-10 17:00] #639 closed

[2017-04-10 19:30] psibi commented on #662
`persistent-2.7.0` has been released which fixes this. Closing the issue.

[2017-04-10 19:30] #662 closed

[2017-04-10 19:31] psibi commented on #613
`persistent-2.7.0` has been released which fixes this. Closing the issue.

[2017-04-10 19:31] #613 closed

[2017-04-12 11:09] vitalijzad commented on #563
The workaround by Gothdo causes the error "BLOB/TEXT column 'password' can't have a default value" on some MySQL versions. The complete workaround is adding `sqltype=varchar(255) default=NULL` like this:

[code]

[2017-04-17 04:52] mchaver opened #667 "Sharing types between frontend (ghcjs) and backend (ghc)"
persistent is a pretty big project and it would be nice if there was a way to define a types package, share it between GHC backend and GHCJS frontend without GHCJS depending on persistent. Also I found that some versions of persistent have trouble compiling with GHCJS. Ideally there could be a way to declare your models as types first and then apply a version of `mkPersist` to an existing type and

[2017-04-17 17:22] gregwebs commented on #667
This is certainly not the first time this approach has been proposed. Its tough to find a satisfactory solution here, particularly around adding meta-data annotations. But I think it would be great to have an alternate way to declare as you are suggesting.

[2017-04-19 19:40] EvanCarroll commented on #93
Someone encountering this bug from StackOverflow: http://stackoverflow.com/q/43504368/124486

And seriously, Persistent doesn't support schemas? That's just basic sql-quantifier information. Everything has a catalog and a schema, implicit or not.

[2017-04-22 12:07] sbchaos commented on #93
I understand, the project was started to provide database access for Yesod web-apps. In a web-app the tables are generally present in single schema.

In micro-service based architectures,  the tables are likely to be sitting in different schema. Which makes persistent not so friendly in those cases.

[2017-04-30 18:48] felixSchl opened #668 "Question: why does upsert replace record if no updates present?"
I am referring to this implementation of upsert:

https://hackage.haskell.org/package/persistent-2.2.4/docs/src/Database-Persist-Class-PersistUnique.html#upsert

I am wondering what is the motivation for this special case: `when (null updates) (replace k record)`?
I was surprised that when my updates turned out to be empty, my record was completely reset.

Maybe I am using the function wrong, but

[2017-04-30 19:33] psibi commented on #668
Which version of persistent are you using ?

Note that the upsert behavior was fixed in version 2.7.0. You can see more details here: https://github.com/yesodweb/persistent/issues/613

[2017-04-30 20:35] tebello-thejane commented on #329
Any progress on getting uniqueness constraints to coexist with primary keys on `sqlite`? I can at least confirm that I do not get this issue on Postgres, but it makes my `sqlite`-based "unit" tests slightly less useful. :-)

[2017-04-30 22:06] felixSchl commented on #668
Sorry, I should have checked that first! I started off with the yesod-postgres scaffold and it specified `persistent >= 2.0 && < 2.7`. `stack list-dependencies` reports version persistent-2.6.1 was installed. The new behavior looks sound to me, time to update :)

[2017-04-30 22:06] #668 closed

[2017-05-01 07:03] JaSpa opened #669 "Migrating a table with a custom primary key fails in SQLite"
# Description

Let's say we have this model definition

    A
      fieldA Int
      Primary fieldA

and change it to

    A
      fieldA Int
      fieldB Int default=0
      Primary fieldA

The migration fails with `table a_backup has no column named id`, because the generated SQL still includes the non-existing `id`-column although we have a custom primary key:

[code]

# Identified problem

The

[2017-05-05 21:42] lexi-lambda commented on #660
Yep, I ran into this issue, too. I’m not really sure why the code is written that way. It seems like it was written with the assumption that entities without custom primary keys cannot have custom types.

[2017-05-08 06:13] psibi commented on #660
While I cannot guarantee the final outcome, a PR would be welcome for this. :-)

[2017-05-14 17:13] paul-rouse opened #671 "persistent-mysql: #641 introduced a bug for text/blob fields"
The change made in #641 created a problem: migration now attempts to alter the default value of `text` (and presumably `blob`) fields, but mysql does not allow these types to have defaults.  Rather distressingly, the migration is actually trying to *drop* the default (even though there isn't one) but it is still a fatal error!

It's easy to reproduce this using an out-of-the-box yesod-mysql scaffo

[2017-05-14 21:47] qrilka commented on #671
Imo `NULL` for text values is just a `NULL`.
The problem here seems to me to be in the detail what `DEFAULT NULL` could be set in 2 ways:
* explicitly as `DEFAULT NULL`
* implicitly for a field set by `NULL` as nullable or as for text/blob just as a default option.
My only current idea how to deal with both correctly at the same time is to add some special case for `default=NULL` option

[2017-05-15 12:35] paul-rouse commented on #671
It is worse than just text/blob fields.  Even for other types, #641 just reversed the problem - now we get spurious migrations when the 'default null' is left implicit (ie a Maybe type with no explicit default) instead of when it is explicit!

A nullable field always has a default 'default null' in SQL, at least in mysql, so giving it explicitly makes no difference.  Since it is an error to specif

[2017-05-15 16:05] qrilka commented on #671
Thanks @paul-rouse
At first glance it looks to be a solution but I'd like to take deeper look a bit later.
Do you know how code for other DBs works with explicit NULLs or it's just another MySQL "feature"?
Also it makes sense to update wiki regarding `default=NULL`.

[2017-05-15 16:29] paul-rouse commented on #671
AFAIK the implicit "default null" is standard SQL - certainly Postgresql does it too.  I don't know whether other DBs retain the implicit/explicit distinction, but obviously they don't have to, as it does not affect the meaning.  The only MySQL oddity is that text/blob columns cannot have an explicit default specified, even if it's the same as the implicit default null!

[2017-05-16 16:45] mwotton commented on #612
I need this too. is anyone able to sketch out a path to a solution for including a table definition for an existing datatype? currently i'm defining a new persistence-only datatype with an isomorphism, but it seems a bit hacky.

[2017-05-16 17:23] paul-rouse commented on #671
Closed via #672

[2017-05-16 18:03] #671 closed

[2017-05-26 14:31] rpereira commented on #180
Hello guys,

Despite this is an old thread, I just came across it and what @maoe said in https://github.com/yesodweb/persistent/issues/180#issuecomment-27550268 is exactly what I want to do.

[code]
However, I'm stuck trying to figure out how to accomplish it. To be honest, I can't understand how to do it, even after reading the docs. Can anyone please help me? Thanks.

CC @maoe @gregwebs

[2017-06-01 05:15] gregwebs commented on #180
Did you look at the PR in question? https://github.com/yesodweb/persistent/pull/181/files
Usually you want to set `mpsEntityJSON`

[2017-06-01 05:30] maoe commented on #180
@rpereira When you do `mkPersist`, you can write:
[code]

[2017-06-11 08:29] Wizek opened #675 "What can we do when during tests, wipeDB (SQLite) throws: "uncaught exception: SqliteException (SQLite3 returned ErrorConstraint while attempting to perform step.)"?"
Some more info on StackOverflow:

https://stackoverflow.com/questions/43169704/what-may-cause-an-errorconstraint-sqliteexception-error-with-yesod-sqlite3

`wipeDB` implementation that I'm using as generated by `stack`'s `yesod-sqlite` template:

[code]

Is this a bug in SQLite? Or perhaps, but I suspect less likely, a bug in persistent-sqlite? Or just a change in SQLite that would need to be adapt

[2017-06-11 11:24] Wizek commented on #675
As I've commented on the SO answer too:

I've tried earlier versions of `persistent-sqlite` on a project of mine and these were my findings:

Good, working versions: 2.2, 2.5, 2.6, 2.6.0.1.
Bad version (throws above mentioned exception): 2.6.2.

The strange thing about this is that both [2.6.2](https://hackage.haskell.org/package/persistent-sqlite-2.6.2/src/cbits/sqlite3.c) and [2.6.0.1](https://h

[2017-06-11 21:26] MaxGabriel commented on #675
It won't solve this issue directly, but this is the relevant wiki/cookbook page on SQLite foreign keys: https://github.com/yesodweb/yesod-cookbook/blob/master/cookbook/Activate-foreign-key-checking-in-Sqlite.md

Maybe try running the `fksEnabled` function from that page right before the `DELETE FROM` statement, to figure out if foreign keys are actually disabled before the delete?

[code]

[code]

[2017-06-11 21:28] MaxGabriel commented on #675
The SO answer that says:

Doesn't seem right to me:

[code]

[2017-06-16 11:50] qrilka opened #679 "Any plans to support proper UTF with persistent-mysql?"
Currently `persistent-mysql` has `utf8` hard coded for text values but that encoding is valid only for Basic Muplilanguage Plane, see e.g. https://dev.mysql.com/doc/refman/5.5/en/charset-unicode-utf8mb4.html
Shouldn't it be changed to `utf8mb4` instead?
That would be not backwards compatible change so it should be properly announced I suppose.

[2017-06-19 03:49] ozataman commented on #657
This appears to be also true for the Postgresql backend. `selectSource` appears to fully fetch and allocate memory in my local tests on a 10GB table. Taking a quick look at `postgresql-libpq` and `postgresql-simple` libraries, there's a special `Cursor` form in the latter to support Fold operations, the underlying mechanism of which I assume could be used to produce a stream from the database.

Ha

[2017-06-21 16:46] parsonsmatt commented on #657
Well, we have a [bug in SQLite](https://github.com/bitemyapp/esqueleto/issues/29#issuecomment-310130945) where running the same query (prepared statement) twice causes a runtime error.

If none of MySQL, Postgres, or SQLite implement actual streaming, then we may want to reconsider exposing this at all.

[2017-07-08 15:12] gregwebs commented on #660
fixed in #682

[2017-07-08 15:12] #660 closed

[2017-07-08 15:14] gregwebs commented on #679
Yeah, that seems better. I don't know how to deal with the backwards incompatibility though.

[2017-07-08 15:17] gregwebs commented on #669
Looks good. Probably use the `entityPrimary` helper.

[2017-07-08 15:26] gregwebs commented on #647
I think you want to use `Foreign`.
https://github.com/yesodweb/persistent/blob/master/persistent-test/src/CompositeTest.hs#L50

[2017-07-10 18:02] drchaos commented on #276
Hi guys,

Seems like migration is not fixed yet...
So, I have this table:
[code]
and see this error when I try to run migrateAll:
[code]

Ok it tries to generate 2 fields with the same name but when I give another name
[code]
 compile and run migrateAll I see another error:
[code]

This function exists but it declared in the uuid-ossp module and this string should be added before:
[code]

[2017-07-10 18:21] drchaos commented on #276
However, this syntax fixes all problems.
[code]

[2017-07-13 11:47] akazik opened #684 "upsert documentation"
The generated documentation [1] does not mention the special case that the empty list performs a replace.

1: https://www.stackage.org/haddock/nightly-2017-07-12/persistent-2.7.0/Database-Persist-Class.html#v:upsert

[2017-07-13 11:49] psibi commented on #684
Can you send a PR with some examples of different case ?

[2017-07-13 12:00] akazik commented on #684
The special case is documented as a comment (but not visible in the generated documentation).

- if there is no entry with the unique constraint insert it into the database
- if the updates list is empty perform a replace
- otherwise perform an update of the supplied updates

[2017-07-13 14:07] gregwebs commented on #684
Agreed the documentation should be lifted out. Are you happy with the current behavior?

[2017-07-13 14:27] akazik commented on #684
I used upsertBy with an empty update list because I wanted a "INSERT IGNORE" and it seemed to work but did an update every time and the search for the reason was long.
As it turns out void insertUnique is what I wanted.

Since this seems to have confused also others I'd prefer a NonNull list for upsertBy (that way this case is just dropped) and a maybe repsertBy for the other case(?).

[2017-07-14 08:59] maxigit commented on #660
That's great. Thank !

On 8 July 2017 at 16:12, Greg Weber <notifications@github.com> wrote:

[2017-07-16 15:07] TobBrandt commented on #412
This is still an issue with other keywords like `class` or `instance`.

[2017-07-18 23:09] chreekat commented on #684
fwiw I just rediscovered that this happens. IMO it's a bug; an empty list of changes should cause no changes. `void insertUnique` seems like saying "this is an error, but I'll just ignore it."

`repsert` already exists, anyway.

[2017-07-18 23:12] parsonsmatt opened #685 "hasCompositeKey is technically wrong (alternatively: natural key support?)"
Given this entity definition:

[code]

calling `hasCompositeKey (entityDef (Nothing :: Maybe User))` will return `True` even though the key is *not* composite: it's a single field.

Using

[code]

Is not the same, because I can't specify the `Id` of an entity before inserting it.

This is surfacing as a bug in an Esqueleto query which is making the assumption that `hasCompositKey` being true means

[2017-07-19 06:33] akazik commented on #684
comments on upsert and upsertBy:
`updates to perform if the record already exists (leaving this empty is the equivalent of performing a 'repsert' on a unique key)`
(only viewable in code, not in documentation)

But this is very counter intuitive.

[2017-07-27 23:08] chreekat commented on #684
Hang on a tick... 2.7 has the correct behavior (where an empty list does nothing). I think it's safe to say that this is fixed in 2.7.

[2017-07-30 21:52] barischrooneyj commented on #476
This is also my main issue with persistent, the use of quasi-quotes. It's something I consider as a more complex Haskell feature and it may confuse people reading my code.

[2017-08-09 01:14] parsonsmatt commented on #309
I'm running into this as well. This is really unexpected behavior.

[2017-08-14 19:53] alexanderkjeldaas opened #689 "Document the typical scenario in which persistent will throw an error at this location."
`Database.Persist.Sql.Orphan.PersistStore` - this file contains no implementation comments whatsoever.  A great start to make the code more comprehensible would be to add a comment describing the typical use-case where an error is thrown at this line:

https://github.com/yesodweb/persistent/blob/a238dcb3dc425c6ad666251474b851ce10958a30/persistent/Database/Persist/Sql/Orphan/PersistStore.hs#L312

m

[2017-08-20 07:15] psibi commented on #624
Closing the issue as there is no point in keeping it open. Shout out here if anybody disagrees!

[2017-08-20 07:15] #624 closed

[2017-08-20 22:58] w9 opened #691 "The default value in the documentation of "mkPersistSettings" is wrong."
In [the documentation](https://hackage.haskell.org/package/persistent-template-2.5.2/docs/Database-Persist-TH.html#v:mpsGeneric) for `mkPersistSettings`, it says that this value is set to `True` by default.

However, in [the source code](https://hackage.haskell.org/package/persistent-template-2.5.2/docs/src/Database-Persist-TH.html#mkPersistSettings), it seems that the default value is actually se

[2017-08-21 07:51] waddlaw opened #692 "updateWhere with SelectOpt"
Currently `selectList`, `updateWhere` types is following:

[code]

But, I want to this.

[code]

Because, ran into this problem.

[code]

Error message;

[code]

If can write `updateWhere [] [ItemOrder +=. 1] [Desc ItemOrder]` then nothing problem.

mysql 5.6 suport this syntax.

- [13.2.11 UPDATE Syntax](https://dev.mysql.com/doc/refman/5.6/en/update.html)

[code]

I tried make function `updateWh

[2017-08-24 10:51] psibi commented on #691
Can you send a PR fixing the documentation ?

[2017-09-02 17:34] mpodlasin opened #694 "Add Generic instance to Entity type"
Hi.

I want to use persistent with servant and servant-purescript - package that automatically generates datatypes and utils for fetching them for the client.

I want to send Entity instances from backend, since I need to have access to ids of sent entities, but it is required by the servant-purescript library that every datatype which will be sent from server to client is an instance of Generic t

[2017-09-09 16:59] StevenXL opened #696 "Pluralize Table Names"
Hi folks. I am new to Haskell and its ecosystem, let alone Persistent.

However, I am used to having my table names be pluralized, while my models are singular, such that I would have a Haskell data type `User` and a table `users`.

I've looked at the `persistent` wiki, the `Yesod book` chapter on `Persistent`, and also on `Hoogle` to see what related functions to `persistLowerCase` exist, but I c

[2017-09-09 17:19] psibi commented on #696
Either that will work or you have to create a new `PersistSettings` (something like this: https://www.stackage.org/haddock/lts-9.3/persistent-2.7.0/Database-Persist-Quasi.html#v:upperCaseSettings ) and define an equivalent quasiquoter for it: https://www.stackage.org/haddock/lts-9.3/persistent-template-2.5.2/Database-Persist-TH.html#v:persistLowerCase

[2017-09-09 17:20] MaxGabriel commented on #696
You can also specify the table name like so:

[code]

https://github.com/yesodweb/persistent/wiki/Persistent-entity-syntax#changing-tablecollection-name

[2017-09-09 17:21] psibi commented on #696
Oh yeah, that's much easier to do. :)

[2017-09-09 20:29] StevenXL commented on #696
@MaxGabriel fantastic. Thank you!

[2017-09-09 20:29] #696 closed

[2017-09-11 14:08] AlexanderHarley opened #697 "persistent-postgresql Segmentation fault on Windows 7"
When building the `yesod-postgres` Stack template on Windows 7 (or any Stack project with `persistent-postgresql` as a dependency), I'm getting a Segmentation fault/access violation:

[code]

This is consistent across 2 different machines running Windows 7, one with `PostgreSQL 9.6.2` and one with `PostgreSQL 9.6.5`. PostgreSQL appears to be working correctly and the binaries are in the %PATH%. I'

[2017-09-12 12:50] eugenk commented on #264
Please reopen this. We make heavy use of PostgreSQL enums and use the same database with two different applications - one of which is written in Haskell using Persistent.

[2017-09-12 23:47] parsonsmatt opened #698 "Question: Type safety with multiple `SqlBackend`s"
I'm working on a library [persistent-typed-db](https://github.com/parsonsmatt/persistent-typed-db) which is an attempt to provide type-safe `persistent` access to multiple SQL databases that are managed by the same app. This is accomplished by wrapping `SqlBackend` with a newtype and a phantom type parameter that indicates the database. This would ensure that you only use a `SqlBackend` with the a

[2017-09-13 15:01] parsonsmatt commented on #623
A `persistent` connection (named `SqlBackend`) is more than just a connection to the database. It contains [several other fields](https://hackage.haskell.org/package/persistent-2.7.0/docs/Database-Persist-Sql.html#t:SqlBackend) that allow for database specific implementations of functions.

As an example, the query to do `upsert` is different on MySQL and PostgresQL, so the `SqlBackend` has a fiel

[2017-09-13 17:34] MaxGabriel commented on #623
For SQLite there is [`wrapConnection`](https://www.stackage.org/haddock/lts-9.4/persistent-sqlite-2.6.2/Database-Persist-Sqlite.html#v:wrapConnection) that I think does what you're asking for. I'm not sure if there's one for MySQL, but the SQLite example suggests there isn't reason not to have one.

Haven't really looked into this deeply though.

[2017-09-13 21:29] parsonsmatt commented on #698
It does seem like the newtype wrapper around `SqlBackend` is preferable for a variety of reasons. I'm working on figuring out the best way to fix compatibility with Esqueleto, and I believe it'll come in changing the `PersistEntityBackend record ~ BaseBackend backend` clause to something a little more flexible.

[2017-09-14 19:07] parsonsmatt commented on #698
Progress update: I managed to get Esqueleto compatibility figured out with a little bit of manual subtyping: [this PR contains changes I made to make Esqueleto queries compatible with the SqlFor machinery](https://github.com/bitemyapp/esqueleto/pull/53).

I added a class `BackendCompatible`:

[code]

and in my library define:

[code]

I change all constraints in the query DSL from

[code]

to

[co

[2017-09-16 20:01] psibi opened #704 "Proposal: Evolve away from existing persistent wiki"
Motivation: http://www.yesodweb.com/blog/2015/08/thoughts-on-documentation

There are two different options we can choose for migrating the existing persistent wiki:
1. Create a subfolder named `docs` inside `persitent` repository and move all the wiki content inside it.
2. Move the wiki to a new repository named `persistent-docs`

I personally prefer method one but it has a disadvantage that the

[2017-09-17 08:32] paul-rouse commented on #704
The general idea looks good.  Option 1 probably makes the documentation more obvious to a newcomer, but I don't have a strong reason for preferring one option over the other.

[2017-09-17 09:23] paul-rouse opened #705 "Placeholder: MySQL fractional seconds in time/datetime"
This is just a placeholder arising from the recent discussions about the test failures caused by MySQL changing its handling of fractional seconds in date/time types (https://github.com/yesodweb/persistent/pull/702#issuecomment-329965229, https://github.com/yesodweb/persistent/pull/693#issuecomment-329979698).

The idea is that `persistent-mysql` might move towards using SQL types like `datetime(6

[2017-09-19 09:52] psibi commented on #264
Given the large request of this feature, I'm re-opening the issue. I will see if I can rebase the PR and implement it by this weekend. If anybody else wants to take it, let me know.

[2017-09-19 11:01] eugenk commented on #264
I tried it in #706.

[2017-09-20 20:06] paul-rouse commented on #705
I am tending towards the "do nothing" approach, together with a documentation improvement.  I think it may be better for the developer to be explicit about the storage types when faced with interrelated considerations including: changing existing application behaviour, migrating existing databases, and whether the application will always run against a MySQL server version which supports fractional

[2017-09-20 20:09] psibi commented on #705
It would be nice if you can link this issue on the changelog. Sorry for saying it late.

[2017-09-20 20:29] paul-rouse commented on #705
Good point!  I'll push an edit

[2017-09-22 14:31] paul-rouse opened #710 "Random test failures"
We have been having a lot of trouble with random test failures on Travis, many of which are caused by the 10-minute  timeout when no output is produced.  This seems to have become frequent over the last three months, and may be related to similar problems encountered by other people: https://github.com/travis-ci/travis-ci/issues/8162, https://github.com/travis-ci/travis-ci/issues/8165 and https://

[2017-09-26 15:57] psibi commented on #704
Wiki has been migrated and the old one now points to the new location.

[2017-09-26 15:57] #704 closed

[2017-10-02 19:03] AlexanderHarley commented on #697
This seems to be an issue with the way GHC allocates memory on Windows 64-bit machines (possibly relating to Template Haskell)<sup>[[1]]</sup><sup>[[2]]</sup>, and not a specific issue with `persistent`.

<sup>1: https://ghc.haskell.org/trac/ghc/ticket/14089</sup>
<sup>2: https://ghc.haskell.org/trac/ghc/ticket/13112</sup>

[1]: <https://ghc.haskell.org/trac/ghc/ticket/14089>
[2]: <https://ghc.has

[2017-10-03 09:05] paul-rouse commented on #697
Slightly worryingly, that GHC issue does not seem to be a high priority at the moment - only "normal" priority, and no milestone for fixing it.  It might be worth you trying to push the discussion along on the GHC side.

[2017-10-04 17:34] traytonwhite opened #713 "Redshift - max_index_keys Error"
Hi there - when trying to connect to Redshift, I seem to be able to connect just fine - but I'm running into this error:

```*** Exception: SqlError {sqlState = "42501", sqlExecStatus = FatalError, sqlErrorMsg = "must be superuser to examine \"max_index_keys\"", sqlErrorDetail = "", sqlErrorHint = ""}```

I've been Googling around, and it seems related to the connector library trying some very Pos

[2017-10-08 23:39] naushadh opened #714 "release persistent-template-2.5.3"
It's been nearly a month since #695 was merged; is there an ETA for releasing `persistent-template-2.5.3` on Hackage/Stackage? I'd really like to use the feature.

[2017-10-10 11:06] homam opened #715 "Database Server Generated Values"
I ran into some trouble with server-generated values in Persistent:

1. It should be possible to not provide server-generated values to the `insert` function
For example given this definition:
[code]

I expect to be able to insert a new `Person` by just providing the `userName`. `creationTime` must be generated at the database. But I should be able to query the table and retrieve this column by fo

[2017-10-10 20:12] MaxGabriel commented on #713
So I found this AWS thread about the issue: https://forums.aws.amazon.com/thread.jspa?threadID=133514

It appears to be triggered by querying certain things from the `information_schema` database in postgres. Notably modejosh in that thread said this will trigger it:

[code]

I searched the Persistent codebase and found all `information_schema` queries happen in https://github.com/yesodweb/persist

[2017-10-11 00:13] felixSchl opened #716 "Feature request: Named parameter substitutions in rawSql"
Have you considered adding support for named substitutions for `rawSql` at all? Complications with position based approach arise when parameter is used more that once etc. I guess I could use `CREATE FUNCTION` or something like that, but it'd be nice if I didn't have to...

[code]

Versus

[code]

[2017-10-11 07:39] psibi commented on #716
The idea sounds good. Would you be interested in creating a PR for that ? Note that the old behavior should still be retained for backwards compatibility.

[2017-10-11 18:01] traytonwhite commented on #713
Thank you @MaxGabriel - this is the issue! Ironically enough, I was hoping to use Persistent to manage our Redshift migrations, so I'll make some changes and slowly move towards a Redshift-specific version of Persistent.

[2017-10-11 18:01] #713 closed

[2017-10-11 18:08] felixSchl commented on #716
I had a quick look `stmtQuery` runs pretty deep and is used virtually everywhere using positional arguments. I think to achieve what I have described above, we'd implement a function that creates a normal `stmtQuery` compatible text and set of values. Doees that sound right?

[2017-10-11 22:29] felixSchl commented on #716
I wonder if this was possible:

[code]

The transformation would keep note of the order of the occurrence and then construct a string and replacement values as expected by the current `rawSql`

[2017-10-12 00:08] MaxGabriel commented on #713
Alright! If your changes end up not breaking normal Postgresql usage, we can incorporate them back into persistent. It would be nice to have Redshift supported

[2017-10-14 09:10] psibi commented on #714
@snoyberg Can you release a new version of the package ? Alternatively, can you add me as a maintainer of `persistent-template` in Hackage.

[2017-10-15 05:09] snoyberg commented on #714
@psibi Always happy to make you a maintainer :). Let me know if you need access to any other packages.

[2017-10-15 09:05] psibi commented on #714
Thanks @snoyberg !

@naushadh Thanks for pointing it out, a new version has been released.

[2017-10-15 09:05] #714 closed

[2017-10-19 18:52] 5outh commented on #585
Oh no! I'm looking for this now. Any ideas on what this would take?

[2017-10-19 19:49] parsonsmatt commented on #585
In retrospect, it's probably better for the library to define a `newtype JSONB = JSONB Value` and write the `PersistField` instances for that. Otherwise, we have an orphan, and that would play very strangely with how any other library might want to define that instance.

[2017-10-19 20:23] 5outh commented on #585
@parsonsmatt That makes a lot of sense - I defined the orphan instance but a newtype seems like a good call.

[2017-10-21 19:55] Mistuke commented on #697
Hi,

Could anyone able to reliably reproduce this issue
try https://1drv.ms/u/s!AuQz_u-9HaJPmcQRFveWa9dMBi77hg ?

If you can still reproduce this issue with this build start with
+RTS --generate-crash-dumps

and send the dump it creates. Note that this is a pre-release version of GHC 8.4
so some packages may not compile without updating version bounds.

[2017-10-22 16:56] paul-rouse commented on #705
Closing as there have been no comments for a month.  I have put a note in the documentation (#721).

[2017-10-22 16:56] #705 closed

[2017-10-23 22:45] mossprescott opened #722 "Bump persistent-postgresql version and release"
persistent-postgresql has had some API changes (stuff added at our request, thanks), but the version has not been bumped in some time. It would be great to get the version bumped in the repo, even better to see that released to hackage, and awesome to have it in LTS.

Some context: we’re seeing failing builds sometimes which I think can be traced to confusion over which 2.6.1 we're trying to build

[2017-10-23 23:34] psibi commented on #722
Sorry, I missed that somehow. A new version has been released in Hackage.

[2017-10-23 23:34] #722 closed

[2017-10-24 19:35] mossprescott commented on #722
Thanks for the quick repsonse, @psibi!

[2017-10-25 05:34] juhp opened #724 "persistent-mysql-2.6.2 haddock failure"
In Stackage Nightly build:

[code]

[2017-10-25 10:56] #724 closed

[2017-10-25 11:04] paul-rouse commented on #724
@juhp Thanks for the report - I've just released persistent-mysql-2.6.2.1 to fix it.

[2017-10-29 01:28] naushadh commented on #657
[persistent-mysql-haskell](https://hackage.haskell.org/package/persistent-mysql-haskell-0.3.5) as of today supports streaming results.

Runtime stats can be found [here](https://github.com/naushadh/persistent-examples/tree/master/stream#bench-results-findings). TLDR: 3MB memory usage for a table with a million rows when using `selectSource`.

[2017-10-29 02:19] MaxGabriel commented on #657
Cool sample project @naushadh. I think this is just confirming what is already known, but here are the results I get for running your project for Postgres:

[code]

[2017-11-01 20:59] lexi-lambda opened #729 "persistent-template: Phantom self-reference is an error"
The following code produces an error:

[code]
[code]

This isn’t really a self-reference, however, because `a` is phantom in `Proxy a`.

[2017-11-21 10:34] paul-rouse commented on #697
I have attempted to reproduce this, without any real success.  However, I have seen some errors occurring with GHC 8.0.2.

When using the `lts-9.14` snapshot and letting `stack` install GHC 8.0.2, there are some failures, but the error is different, the failures appear to be in random packages, and restarting the build allowed it to continue to completion.

With GHC 8.2.1, installed by `stack` wit

[2017-11-21 19:16] paul-rouse commented on #710
Let's close this for now.

[2017-11-21 19:16] #710 closed

[2017-11-22 00:38] AlexanderHarley commented on #697
When I created this issue I was using `lts-9.2` with `stack-1.5.1`, but have been able to reproduce the same issue with `lts-9.3`, `lts-9.4` and `lts-9.11`.

My experience differs to yesodweb/yesod#1391 somewhat in that the issue was isolated to the `yesod-postgres` template - the other Yesod templates built and ran correctly. Removing `persistent-postgresql` as a dependency from the template alon

[2017-11-22 10:24] paul-rouse commented on #697
Thank you for all of that!

There is obviously something going on, but it is hard to pin down.   For example, I have not yet managed to get `stack exec -- yesod devel` to fail on `lts-9.14`!  I'll keep trying variations when I have time - I don't normally develop on Windows - so let's leave this open for now.

[2017-11-22 16:56] parsonsmatt commented on #698
I'm pretty happy with how this is resolved, so I am closing this issue out.

When the current master of `persistent` is pushed to Hackage I can do a release on `persistent-typed-db` :)

[2017-11-22 16:56] #698 closed

[2017-11-22 17:03] parsonsmatt commented on #694
I would suggest having separate types for your API and database models, or explicitly defined API serialization/deserialization methods. This is good software engineering practice, as it allows you to decouple your database schema and API contract. Additionally, it insulates you against upstream changes to the structure of library code altering your API format.

That said, you can work around that

[2017-11-22 17:09] parsonsmatt commented on #715
The first would definitely be nice to have.

At a first thought, we could have a type similar to `Maybe` where `Nothing` indicates "please accept the database default" -- call it `Defaulted`. We could then create a "smart constructor" for each entity that accepts all the field parameters except for `Defaulted`.

In your `Person` example, we'd have:

[code]

This would generate an additional functi

[2017-11-22 17:13] parsonsmatt opened #731 "Identify mismatches between `sqltype` and Haskell type at compile time"
[This question was posted on Reddit](https://www.reddit.com/r/haskell/comments/7erfio/persistmarshalerror_when_using_text_haskell_value/). The brief summary was:

It should be possible to move this into a compile-time error instead of a run-time error. That would improve ergonomics of the library -- "Failed to generate schema: SqlType and HaskellType are incompatible. Consider writing a newtype an

[2017-11-22 17:17] MaxGabriel commented on #698
I think it would make sense for @parsonsmatt to have persisent release rights on Hackage since he's developing across persistent, `persistent-typed-db` and esqueleto. Thoughts @psibi?

[2017-11-22 17:26] MaxGabriel commented on #715
I think this is probably an important missing feature from Persistent, but I wanted to chime in and say I'm pretty happy with a solution using triggers for `createdAt`/`updatedAt`. I wrote that Stackoverflow answer, and my current solution (which is in the updated SO answer) is to use this function to set the `createdAt` and `updatedAt` columns on insert:

[code]

then use these triggers to set th

[2017-11-22 17:46] MaxGabriel commented on #731
As long as the runtime error is still around, it'd be nice if the error message was improved from `PersistMarshalError "field email: Cannot convert PersistDbSpecific to Text"` to mention the newtype/PersistField/PersistFieldSql approach.

Also apropos of that Reddit thread, I asked the OP to make an issue on persistent to support case insensitive text, but we should do that if he or she doesn't ge

[2017-11-22 17:48] parsonsmatt commented on #731
If we do, we should rope in the `Data.CaseInsensitive` type, as it already captures this use nicely.

[2017-11-23 05:47] psibi commented on #698
@MaxGabriel Please go ahead and give him the Hackage access. :)

[2017-11-23 06:21] psibi commented on #715
It would be nice to have them at persistent level in a way such that it doesn't interfere during insert and update queries. Sometimes, I would like to send these values in JSON. But yeah, this is a nice workaround to know.

[2017-11-23 13:15] MaxGabriel commented on #698
Cool @parsonsmatt, I added you as a maintainer for persistent and persistent-mysql. I'm not a maintainer of the other persistent packages, could you add @parsonsmatt for those?

[2017-11-23 15:42] MaxGabriel opened #732 "Better support for case-insensitive text?"
A persistent user on Reddit recently asked about support for case insensitive text: https://www.reddit.com/r/haskell/comments/7erfio/persistmarshalerror_when_using_text_haskell_value/

Postgres has it's own `citext` type, and I came up with this code to use it: https://gist.github.com/MaxGabriel/9e757f2da60ac53b45bb06b2b097d86b

The core of which is these instances:

[code]

Any thoughts on if thi

[2017-11-23 16:56] parsonsmatt commented on #732
I've considered this issue a bit from the MySQL side of things. For example, I really want a type like `MySQLTime` that coerces the `0000-00-00` times/dates into `Nothing`, and `MySQLEnum` that converts blanks into `Nothing` (basically, helpers for dealing with a legacy non-strict MySQL database).

It doesn't seem like they belong in `persistent`, because any database library should want to use th

[2017-11-23 17:42] MaxGabriel commented on #694
@parsonsmatt Is that actually possible? If I add code like:

[code]

or

[code]

to `PersistEntity.hs`, I get:

[code]

Based on googling, you can't derive Generic for Existential Types: https://ghc.haskell.org/trac/ghc/ticket/10514

[2017-11-23 18:25] psibi commented on #698
I have given access to all of the persistent related packages to both @MaxGabriel and @parsonsmatt . Let me know if I have missed something.

[2017-11-23 18:52] parsonsmatt commented on #694
Strangely enough, the constraint appears to be unnecessary. I was able to build all of `persistent` without needing it.

[2017-11-24 07:38] osa1 opened #735 "persistent-sqlite regression between 2.6.0.1 and 2.6.2"
Here's program that works with `persistent-2.5` and `persistent-sqlite-2.6` but doesn't work with `persistent-2.7.1` and `persistent-sqlite-2.6.3`:

[code]

This is a migration program so we run it twice. On the second run we move the commented-out line to `Message` table as mentioned in the code.

On older persistent migration works as expected:

[code]

On newer persistent it doesn't:

[code]

c

[2017-11-24 07:43] osa1 commented on #735
Just confirmed that it also fails the same way with `lts-8.14` (which has `persistent-2.6.1` and `persistent-sqlite-2.6.2`).

[2017-11-24 07:46] osa1 commented on #735
Confirmed that the problem is in `persistent-sqlite`, if I use latest nightly resolver with `persistent-sqlite-2.6` it works.

[code]

[2017-11-24 07:55] osa1 commented on #735
`persistent-sqlite-2.6.0.1` also works

[2017-11-24 08:03] osa1 commented on #735
It turns out this is because of https://github.com/yesodweb/persistent/pull/646

Using this line fixes it

[code]

It's a bit sad that I have to bring in yet another lens library just to set this option...

[2017-11-24 09:27] paul-rouse commented on #735
Thanks for reporting and diagnosing this.

I think there is still a bug: migration creates a temporary table with a foreign-key constraint which cannot be satisfied, so migration needs to be updated in view of #646.  You shouldn't be forced to switch off foreign-key checking to make it work!

I'll reopen this issue, and take a look at the code over the weekend.

[2017-11-24 17:16] #735 closed

[2017-11-24 18:07] paul-rouse commented on #735
@osa1 there is now a new release on hackage which fixes this issue (version 2.6.3.1).  Thanks again for spotting it.

[2017-11-25 09:48] osa1 commented on #735
Thanks!

[2017-11-25 12:02] MaxGabriel commented on #735
Thanks for writing such a detailed bug report btw!

On Saturday, November 25, 2017, Ömer Sinan Ağacan <notifications@github.com>
wrote:

[2017-11-25 14:09] MaxGabriel opened #738 "Template Haskell generation can now use standalone deriving"
The persistent-template package has [a comment that reads](https://github.com/yesodweb/persistent/blob/b97f50af1635c84c2994afa9565f0a6f6637c1c5/persistent-template/Database/Persist/TH.hs#L780-L781):

[code]

Per that ticket, Template Haskell now supports Standalone Deriving, and since 7.10, so the TH.hs code could be moved over to using it, which would simplify the instance deriving code.

Not a n

[2017-11-25 14:15] MaxGabriel commented on #692
Sorry for the late response on this. I'm ok adding this feature, but I think it should be limited to the MySQL backend, because neither SQLite or Postgres support an ORDER BY or LIMIT for their update clauses. Perhaps in a new module like `Database.Persist.MySQL.Query` or something (unsure on the name)?

[2017-11-25 19:28] bergmark opened #739 "2.7.2 contains breaking changes"
A number of packages (esqueleto, git-annex, persistent-mysql, users-persistent) fail to compile with persistent-2.7.2. Was it intentional to release this as a minor version bump?

I'd recommend deprecating 2.7.2 and releasing it as persistent-2.8.0 instead.

[2017-11-25 19:35] paul-rouse commented on #739
Hmm, thanks, it wasn't supposed to be breaking, but I'll deprecate the release in any case.

[2017-11-25 19:52] paul-rouse opened #740 "Thoughts on releases, please"
We have a breaking change due to #723, so I have had to deprecate the release of `persistent` I did earlier - we accidentally numbered it as a minor version change.

Any thoughts on whether we want to do a major release now, or queue up anything else to go into it?

cc @parsonsmatt, @MaxGabriel, @psibi

[2017-11-25 19:57] paul-rouse commented on #739
To clarify, I will not immediately re-release it, pending discussion about any other changes which might be queued up, but it is now deprecated.

[2017-11-25 20:51] MaxGabriel commented on #740
Might not be enough time to do this, but now could be a good time to cruise through the issues to see if any of them are breaking changes that are easy to implement?

[2017-11-25 21:37] paul-rouse commented on #740
Yes, that's a good idea - let's hold the release for a little while.

[2017-11-25 21:55] MaxGabriel commented on #685
I agree that this is broken and persistent could use two functions, one for natural keys (non-Id), and one for composite keys. Possibly the first step is deprecating this function and adding a new one called hasNaturalKey or something?

[2017-11-25 22:11] parsonsmatt commented on #685
To be really pedantic with the terminology, I think there are three functions we could use:

1. `hasCompositeKey` returns `True` if `Primary` has multiple fields
2. `hasNaturalKey` returns `True` if `Primary` is defined at all, since the `Primary` stuff is used only when you want a non-surrogate `Id` field.
3. `hasSurrogateKey` returns `True` if `Primary` is not defined (so either an implicit `id`

[2017-11-25 22:11] parsonsmatt commented on #740
Sorry about the breaking change :(

Let's make a milestone for the next version, collect the issues we want to fix/break stuff for, and get them done?

[2017-11-25 22:36] psibi commented on #740
@parsonsmatt It happens. :)

Agree with both Matt and Max's idea. Although after doing a quick glance in the issue, I couldn't find anything useful (I may have overlooked some things). This issue can be fixed: https://github.com/yesodweb/persistent/issues/431 ( But I think Michael fixed it some time ago, so probably it can be closed if someone confirms it ? )

[2017-11-26 02:11] waddlaw commented on #692
Thanks for your reply. It’s OK.

That's true, agree with you. OK, I'll be try.

[2017-11-26 04:29] MaxGabriel opened #744 "Drop GHC 7.8 support soon?"
I was recently running into some CI test failures because a function I imported was only used in an `#if MIN_VERSION_base(4,8,0)` code block. It wasn't a big deal to work around, but my understanding is that Yesod packages only try to support the last three releases of GHC. With the release of GHC 8.2.2, dropping 7.8 support seems reasonable.

There are 12 instances of `#if MIN_VERSION_base(4,8,0)

[2017-11-26 05:21] MaxGabriel commented on #685
Pedantic sounds great.

@paul-rouse I think a rename and deprecation  here would be easy and could go in the upcoming breaking change release. This would just be a deprecation, but some people may be building with -Werror so it’d be nice to bundle the changes together.

[2017-11-26 11:30] paul-rouse commented on #744
I have no problem dropping 7.8 once 8.2 is in an LTS.  We can get rid of that horrible conditional installation of `happy` I recently had to put in the travis config:smile:

We should take care, though, since there are non-Yesod packages depending on `persistent`, too.  Do you know how many past GHC versions the wider community expects to have supported?  A cursory look through the "used by" secti

[2017-11-26 13:47] bergmark commented on #739
That's fine by me, thanks!

[2017-11-26 13:47] #739 closed

[2017-11-26 13:50] bergmark commented on #744
You may also want to consider using [base-compat](https://hackage.haskell.org/package/base-compat) and other -compat packages. It makes it a lot easier to keep support for older GHCs

[2017-11-26 16:07] MaxGabriel opened #745 "SQLite tests fail when called from root directory"
Currently `development.md` file, and typical usage of stack, calls into sub-packages from the root of the repo, like so:

[code]

However, when persistent-test is run this way for SQLite, it fails because it expects a `test/` directory to exist. This directory only exists if persistent-test is called from inside the persistent-test directory, not from the root directory.

I would propose that pers

[2017-11-26 17:42] MaxGabriel commented on #691
Fixed by https://github.com/yesodweb/persistent/commit/d14617f44dceec63f8dcf0f2f9015835ed89dbcf

[2017-11-26 17:42] #691 closed

[2017-11-26 17:42] MaxGabriel commented on #691
Thanks for reporting this @w9

[2017-11-26 17:43] MaxGabriel commented on #689
@alexanderkjeldaas Can you take a look at #741 and think about whether the new proposed error message is good/would have been sufficient to solve your problem?

[2017-11-26 17:57] MaxGabriel opened #746 "Provide scripts to reproduce errors for each backend"
It's super helpful when issues include a reproducing case, and we should make that as easy as possible. I think we should provide a small template for each backend (either different scripts, or one script with preprocessor macros to specify the backend, but that might be too complicated). This would be especially helpful because most Persistent users are using Persistent in the context of a big we

[2017-11-26 22:01] alexanderkjeldaas commented on #689
Hi @MaxGabriel I don't have the context right now, but the error messages definitively look more useful.  They are probably sufficiently good to close this issue.

[2017-11-26 23:32] MaxGabriel commented on #689
Cool, thanks @alexanderkjeldaas

[2017-11-27 18:29] enolan opened #747 "Dockerfile doesn't work, "haskell-stack:7.8" doesn't exist"
The Dockerfile has the line "FROM haskell-stack:7.8", but there's no such image, at least not in the public repository under Docker's official images.

[code]

[2017-11-27 21:56] bergmark opened #749 "Breaking change in persistent-sqlite 2.6.3.2"
Got this while building the git-annex test suite, was it intentional?

[code]

[2017-11-27 22:46] paul-rouse commented on #749
Deprecated on hackage:unamused:

@MaxGabriel I think we need to implement #743 with a separate version of `step` for internal use, because `step` itself is visible externally, although undocumented!  I hadn't seen that either when I commented on #730

[2017-12-02 21:27] #749 closed

[2017-12-02 21:29] MaxGabriel commented on #749
@bergmark Thanks for finding this. I released persistent-sqlite 2.6.4 which restores the old function signature.

[2017-12-03 05:04] MaxGabriel commented on #732
Closing for now, since it seems the best solution is a new package

[2017-12-03 18:46] dgaw opened #752 "[mysql] Specifying sqltype=double(6,5) or sqltype=mediumtext causes repeated migrations"
It looks like choosing a custom sqltype for a Text or a Double causes a repeated, unnecessary migration every time runMigration is called.

Example
[code]
This causes 2 alter table statements to be executed every time I run my app:
[code]

I'm using persistent 2.7.1 and persistent-mysql 2.6.2.

[2017-12-03 20:03] MaxGabriel commented on #752
I reproduced this with this test case, based off of [the one here](https://github.com/yesodweb/persistent/pull/742/files)

[code]

Based on the test failures, it's not all custom sqltypes for a Text or Double. In the test above, the migrations I got were:

[code]

So `field2`, with a custom type of `varchar(5)`, stayed the same between migrations.

[2017-12-03 21:42] MaxGabriel commented on #752
Ok, here's what I think the problem is internally:

`ColumnInfo` has enough information to make the correct migration, namely `ciColumnType`, which is something like `double(6,5)`.

-- | Extra column information from MySQL schema
data ColumnInfo = ColumnInfo
  { ciColumnType :: Text
  , ciMaxLength :: Maybe Integer
  , ciNumericPrecision :: PersistValue
  , ciNumericScale :: PersistValue
  }

`Col

[2017-12-04 09:32] paul-rouse commented on #752
It looks to me as if `persistent-mysql` misuses `SqlType`.  The [documentation](https://hackage.haskell.org/package/persistent-2.7.1/docs/Database-Persist-Types.html#t:SqlType) seems to say that a backend-specific type should be in `SqlOther`.

This is actually a very recent change - #678 - and I don't understand why it was done.  I have been using `longtext` in production well before this change,

[2017-12-04 14:51] gregwebs commented on #747
please review #753

[2017-12-04 14:51] #747 closed

[2017-12-04 16:34] MaxGabriel commented on #752
Oh that’s great @paul-rouse. Reverting sounds good to me, but I’d like to hear from the author of #678 / maybe look into this just a little more

[2017-12-04 17:22] dgaw commented on #752
I'm also for reverting #678. I'd used "mediumtext" for months before that change without a problem.

"Double" could use the workaround suggested by @MaxGabriel. It works just fine, at least for my use case. :)

[2017-12-04 18:27] MaxGabriel commented on #752
@dgaw Would you be interested in writing a pull request for this, with the test I wrote above, the change for double, and a revert of #678?

[2017-12-04 19:16] dgaw commented on #752
@MaxGabriel Sure, leave it with me.

[2017-12-05 16:42] 5outh commented on #59
I would love to see this revisited as well!

[2017-12-05 19:24] bergmark commented on #749
Thanks!

[2017-12-07 21:17] MaxGabriel commented on #740
Since it's been a bit without us finding any juicy breaking changes to squeeze in, shall we cut a new release?

[2017-12-07 22:27] MaxGabriel commented on #740
@parsonsmatt I know you're working on persistent and esqueleto in concert, are you on the breaking changes that are affecting esqueleto, or should I open an issue?

I tried to compile esqueleto with 2.7.2 and got these errors:

[code]

[2017-12-12 06:23] sboosali commented on #109
This limitation is reasonable needs to be documented, probably in runMigration. Also, by "persistent advising you", do you mean to just print out showMigration and add indices manually?

[2017-12-13 03:15] gregwebs commented on #109
Yeah, print out persistent's migrations. You can also generate SQL names from persistent for indexes, we could actually have functions around generating this SQL. Still I would want to leave running actual migrations in the hands of the user. And I would like to use existing migration frameworks rather than re-invent this wheel. Here are ones you could try:

## FlywayDB
Every feature you want, esp

[2017-12-16 20:12] #752 closed

[2017-12-17 17:53] bitemyapp opened #761 "Savepoint support"
postgresql-simple has it, an example manually combining it with Persistent can be found here: https://www.shimweasel.com/haskell/2016/07/21/yolo-oriented-database-programming

[code]

[2017-12-17 17:53] bitemyapp commented on #761
I posted this here because `persistent-postgresql` lives in this repository.

[2017-12-28 23:18] MaxGabriel commented on #761
This seems like a good idea. Would you just like Persistent to define its own functions, as opposed to the code below, or something fancier?

[code]

[2017-12-28 23:20] MaxGabriel commented on #761
MySQL, SQLite, and Postgres all support savepoints, so this functionality could be implemented for all three of them.

[2018-01-02 17:50] hakujin opened #768 "Composite "Primary" keys do not imply uniqueness leading to runtime exception"
Persistent version: 2.7.1 (lts-9.17)

## Behavior
Explicit composite primary keys do not imply uniqueness, leading to runtime exceptions when attempting `upsert`s. This behavior is unexpected when using the Postgres backend.

## Expectation
Postgres primary keys imply uniqueness (or `upsert`'s `Unique` dependency is verified at compile time).

## Example
Model:
[code]

Yields this exception when t

[2018-01-04 22:40] #745 closed

[2018-01-07 20:03] #746 closed

[2018-01-10 15:00] merijn opened #771 "Export `Connection` constructor from persistent-sqlite's Database.Sqlite"
Persistent allows use of rawSql for more complicated queries, but the persistent-sqlite interface is extremely limited compared to the interface exposed by SQLite itself, limiting what can be done using rawSql (For example, no custom collation/function creation, etc.).

If the raw database pointer in the underlying connection is accessible power users can use the SQLite C API to perform any functi

[2018-01-12 13:51] merijn commented on #771
The easiest approach is probably to move the Connection and Statement newtypes into a new module `Database.Sqlite.Unsafe` and then import that into `Database.Sqlite` only re-exporting the types, but not the constructors. This means that anyone like me can simply import the Unsafe method and use SQLite's API directly via the API without issue, which should not impact existing code at all (in fact,

[2018-01-12 16:07] MaxGabriel commented on #771
Sorry for the slow response. I’m good with the unsafe approach. Can you call the module Internal, and say that the functions are not covered by normal PVP versioning (ie if they change it’s not a breaking change)

[2018-01-12 22:14] merijn commented on #771
I'm still thinking how to add a nice variant of `withSqliteConn` that exposes the raw `Connection`, but it's tricky, because I can't simply extend the `SqlBackend` with the pointer. I'm still figuring out how to nicely wrap that up and will probably add another commit/PR for that when I figure it out.

[2018-01-17 03:19] naushadh commented on #657
This and #726 haven't had any progress in a while, but I'd really like to stream large results instead of loading all into memory. Perhaps a simpler and generic solution, albeit not as efficient as native support, can be entertained?

[code]

[2018-01-17 05:23] parsonsmatt commented on #657
[You really don't want to use LIMIT/OFFSET for pagination](http://use-the-index-luke.com/sql/partial-results/fetch-next-page). The "correct" way to implement this on top of a non-streaming database library is to keep track of an indexed "range" column, and iterate over the range in chunks provided by the user. The pages also need to be ordered by that range column.

[code]

[2018-01-17 17:36] #689 closed

[2018-01-18 02:50] naushadh commented on #657
Thank you @parsonsmatt for the insight. I suppose the scale at which streaming is truly beneficial is also a scale at which such the offset/limit row scanning issue will hurt performance. My use case demands `selectSource` or an identical drop in replacement, so I shall revisit #726.

[2018-01-19 13:37] chrissound opened #774 "Is connecting using MongoDB over SSL possible?"
This functionality seems to be supported with MongoDB using https://hackage.haskell.org/package/mongoDB-2.3.0.1/docs/Database-MongoDB-Transport-Tls.html#v:connect

I'm testing using the following:
[code]

Which produces an error of:
[code]

[2018-01-19 15:07] chrissound commented on #774
I've cloned down the repo and exported some constructors:
[code]

And it seems I've managed to connect successfully, however the writes don't seem to be going through for some reason...

[code]

[2018-01-19 21:08] chrissound commented on #774
Finally got this to work...  The issue with my previous example is 1. It does not save any record 2. It produces no error. Potentially my code is actually doing something wrong.

I've managed to get this to work with the following:

[code]

----

**Conclusion:**

The above does need the exported Constructors - but this is just for hacking / debugging purposes. I'm not 100% sure on how this can act

[2018-01-26 19:06] rwobben commented on #744
I can try and if I understand it well all the  4.8.0 and lower must be deleted ?

[2018-01-26 19:39] ocharles opened #775 "createSqlPool's idle timeout seems much too short"
https://hackage.haskell.org/package/persistent-2.7.3.1/docs/src/Database-Persist-Sql-Run.html#createSqlPool calls `createPool` with 1 stripe and a 20s idle timeout on resources. I would say that

a) This is much too small

and, to contradict myself somewhat

b) There is no one-size-fits-all.

I would at least bump this up to 5 minutes. Anything but a heavily loaded site essentially negates any ben

[2018-01-26 19:43] ocharles commented on #775
The defaults in https://pgbouncer.github.io/config.html might provide some good defaults for `persistent`. They are somewhat PostgreSQL specific.

[2018-01-27 04:27] MaxGabriel commented on #775
My instinct is that the idle timeout should be increased and that it should be made configurable. Personally I can only think of really weird edge case scenarios where the increased timeout could cause a problem; can anyone think of anything serious?

Are you also suggesting that the stripe count should be increased and/or be configurable? I haven't used anything but 1 before, but if we're making

[2018-01-27 04:52] MaxGabriel commented on #744
@rwobben Yes that's correct. You may want to base your work off [this branch](https://github.com/yesodweb/persistent/pull/773), otherwise you'll run into merge conflicts when that PR gets merged

[2018-01-27 09:34] rwobben commented on #744
oke, I asked there questions because it's not clear to me how the branch is named.

[2018-01-27 10:23] ocharles commented on #775
Agreed and agreed.

On both sides your resource usage is going to be higher. However, you should be anticipating using every connection in the pool anyway, so if you're unable to operate in those constraints then you already had a problem!

However, increased connections under normal operating conditions *could* result in a performance degradation - if you've got an idle connection open with some

[2018-01-27 14:07] MaxGabriel commented on #775
Ok cool. Is this something you’re interested in writing?

[2018-01-27 14:13] ocharles commented on #775
I may be able to find time on Monday if no one beats me to it. Do you have
any main API changes in mind or any other options I should use as a
reference?

On 27 Jan 2018 2:07 pm, "Maximilian Tagher" <notifications@github.com>
wrote:

[2018-01-27 15:34] MaxGabriel commented on #775
I haven’t thought about what all functions need to be changed/added, the only thing I was thinking of is combining these options into a new record, since we now have pool size, stripe count, and idle timeout fields, and they’re all of the same type. Either the lens approach used in the SQLite module or the one described here https://www.snoyman.com/blog/2016/11/designing-apis-for-extensibility are

[2018-01-28 12:56] gurgl opened #776 "Per entity field prefix?"
I found you about mpsPrefixFields setting making it possible to control prefixing of fields by entity name. I wonder if its possible to prefix field accessors / lenses, per entity, with something else than entity name? Ive a bunch of types with accessors prefixed by "_" <acronym> "_". Like User's "name" field is _u_name and GameLog "command" field is _gl_command.

[2018-02-01 21:38] #694 closed

[2018-02-04 23:58] gurgl opened #777 "mpsPrefixFields = False breaks Primary configuration "Id ...""
Stack: LTS-9.21
OS: Ubuntu 14.4

In the code below. Compilation fails if mpsPrefixFields is set to False. If set to True it succeeds.
[code]

[code]

[2018-02-07 02:28] naushadh opened #778 "[persistent-template] schema organization and compilation times"
This isn't so much a bug or support request, but something I discovered that could enhance developer experience. See sample project/findings here [naushadh/persistent-examples](https://github.com/naushadh/persistent-examples/tree/master/model-organization). TLDR: breaking entity definitions into smaller components can yield immense compilation time gains.

Is there any downside to the approach? Sh

[2018-02-07 07:16] qrilka opened #780 "Composite primary keys require field order to be the same as in model"
It appears that composite primary keys need to be declared using field order to be exact like the order of fileds in model declaration.
E.g.
[code]
results in
[code]
In out production code we use MySQL and there we get only
[code]
from https://github.com/yesodweb/persistent/blob/master/persistent/Database/Persist/Sql/Util.hs#L90 (BTW wasn't removal of `error`s a point of release 2.7.3.1 of `persis

[2018-02-17 08:50] pythonissam opened #782 "upsertBy doesn't updates existing record"
In persistent 2.6.1:

[code]

In persistent 2.8.1:

[code]

As you can see, the code below has completely disappeared:

[code]

As a result, the current version of `upsertBy` doesn't replaces the record when the update record is null. Is this intended for some reason?

[2018-02-17 15:29] merijn opened #783 "Eliminate `IsSqlBackend` constraint from various `withSqlConn` and `withSqlPool` functions"
In #772 I created a new datatype to expose underlying SQLite internals more easily. However, due to the `IsSqlBackend` restriction on various functions in `Database.Persist.Sql` I find myself effectively reimplementing these functions to work with `RawSqlite` which is an instance of `PersistCore` and `HasPersistBackend` but *not* `IsSqlBackend` as that requires a `IsPersistBackend` instance which

[2018-02-17 15:35] MaxGabriel commented on #782
Looks like it was introduced in this commit: https://github.com/yesodweb/persistent/commit/375f453ce2a097374d786ca4f7f2004dd9d3476c

@chreekat Was that intentional?

[2018-02-17 15:49] chreekat commented on #782
Yes. That was a change to make upsert actually upsert (= insert or update). It was sort of related to a concurrent change that made upsert work at all.

Maybe you want [repsert](https://www.stackage.org/haddock/lts-10.5/persistent/Database-Persist-Class.html#v:repsert)?

[2018-02-17 23:01] merijn opened #784 "Is it at all possible to safely use `rawQuery`?"
### Bug Reports

I was using a small wrapper around `rawQuery` in my own code and noticed that it appears to be swallowing the first element.

Broken version (the original version skipped the sink argument and directly returned `ConduitT r Void SqlM ()`, I changed it to this for easier comparison with the version that works:
[code]

Working version:
[code]

When using:
[code]

Invocations like `ru

[2018-02-18 00:57] pythonissam commented on #782
@chreekat There're some points which concern me.

Firstly, `upsertBy` says

but it seems to perform different behavior from 'repsert'. Is this alright?

Secondly, we want `repsertBy`, not `repsert`, but there's no `repsertBy` in the library.

[2018-02-18 01:31] chreekat commented on #782
Ah, that's a documentation bug, and I'm as surprised as you are that `repsertBy` doesn't exist. :) I'm sure a PR would be accepted by the maintainers.

[2018-02-18 15:33] MaxGabriel commented on #782
I think we should fix the upsertBy docs and add a repsertBy function.

Anyone want to take this on? The upsertBy function should be a good template for it, so it shouldn’t be too hard. Otherwise, I’ll do it

[2018-02-18 16:07] MaxGabriel commented on #784
I'm not super familiar with conduit and I have't used these functions before, but I ran these queries and I get a count of 25 users, and when I select all of them I get a list of 25 items, so that seems to be working:

[code]

[2018-02-18 16:40] MaxGabriel commented on #783
Hm, that seems like it could be a big breaking change, wouldn't code like this (taken from the Yesod SQLite scaffolding) be broken, because the `pool` that `createSqlitePool` creates no longer has the `IsSqlBackend` class?

[code]

Correct me if I'm wrong on this, just want to understand the full implications of this change

[2018-02-18 20:26] merijn commented on #783
I'm only proposing the removal of the constraint on the generic functions inside `Database.Persist.Sql`, not the backend specific ones like `Database.Persist.Sqlite`. The constraint is *obviously* needed on, e.g. `withSqlitePool` and `createSqlitePool`. My observation is just that `Database.Persist.Sql.withSqlPool` (and friends) don't actually use the IsSqlBackend constraint, but due to having it

[2018-02-18 20:28] merijn commented on #784
The code I have is a kinda big. I'll try try extract a minimal reproducing example. But that's a bit low priority now that I (finally) figured out the issue and a work around. I'll try and get it done some time this week.

I honestly kinda expect there might be something going wrong with `ResourceT` and `ConduitT`, rather than the persistent side of things, but I don't know enough about their inte

[2018-02-18 20:33] MaxGabriel commented on #784
@snoyberg Do you have any intuition on this?

[2018-02-18 23:37] MaxGabriel commented on #783
@parsonsmatt You've made several changes to the Persistent typeclasses recently so I think you'd know better than me. Does this sound good to you?

[2018-02-19 01:15] pythonissam commented on #782
So, I'll take it:)

[2018-02-19 04:31] snoyberg commented on #784
No, sorry, nothing stands out to me.

[2018-02-19 10:19] merijn commented on #783
I'll see where it can be safely (i.e. backwards compatibly) eliminated and create a PR somewhere this week.

[2018-02-21 03:14] bergey commented on #579
I'd like to work on this over the next couple of weeks.  Is the approach shown above good by the maintainers, or would you hold out for a solution that supports more backends?  I'm only familiar with Postgres, so I will need some help if folks want the more general solution.

Incidentally, the HTTP & JSON instances have been added upstream, so only the 2 Persist instances are needed now.

[2018-02-21 11:47] merijn commented on #783
Ah, actually, I just realised why these functions need those constraints. They, internally, call `close'` to close the SQL connection, so eliminating `IsSqlBackend` isn't feasible, but it could be generalised to either `HasPersistBackend backend, BaseBackend backend ~ SqlBackend`, `BackendCompatible SqlBackend backend`, or even `HasPersistBackend backend, BackendCompatible SqlBackend backend`. How

[2018-02-21 15:11] harendra-kumar opened #786 "Runtime exception when foreign key is specified using `Key Table` instead of using TableId"
I have a schema which looks something like this:

[code]

This results in a runtime exception:

[code]

If I use `RoleTableId` instead of `(Key RoleTable)` in `UserTable` everything works fine. This is perhaps not an expected usage of the DSL but the error was not caught. Perhaps something went wrong in the TH code generation from the schema and it compiled fine but resulted in a runtime error. If

[2018-02-21 15:47] MaxGabriel commented on #579
I'm good with this approach. This is what we're using at work right now if you want to base it off that:

[code]

I think these instances should be added to the persistent-postgresql package, since they're specific to that backend. It looks like if we e.g. added one for MySQL, we'd want to strip the hyphens and store it as binary (just based off some googling), and SQLite I think a BLOB. If you'd

[2018-02-21 15:59] MaxGabriel commented on #778
I'm OK with all of these approaches. They should probably be caveated as optimizations for advanced users, and not the standard approach. `persistManyFileWith` sounds good, though I don't know how hard it would be to fix the foreign keys with `parseReferences`

[2018-02-21 16:53] parsonsmatt commented on #783
This is one of those times where I kinda wish Haskell had subtyping or row polymorphism or something :)

I made the `BackendCompatible` class to support the [`persistent-typed-db`](https://github.com/parsonsmatt/persistent-typed-db) library, which gives type-safe access to multiple SQL database schemas. The main problem I was running into was the conflation with `PersistEntityBackend record ~ Base

[2018-02-21 17:25] bitemyapp opened #787 "Support for composite types?"
This might be `persistent-postgresql` rather than `persistent` but it seems like composite types aren't supported at the moment. This thought was prompted by: https://joncfoo.gitlab.io/posts/2016-06-17-composite-types-with-postgresql.html

I think there's a way to do this by making your own and instances so this is mostly me just musing about formal support.

[2018-02-21 18:32] MaxGabriel commented on #787
I'm actually not sure you could make your own instances. In the implementation of `PersistField`, you'd presumably use `PersistDbSpecific bs` to store something like `"row(null,null,'city','state','zip')"`. But then in `persistent-postgres`, `PersistDBSpecific` is made into a field using `Unknown`:

[code]

whose `ToField` instance is:

[code]

So I think that would happen is that all `"row(null,n

[2018-02-21 18:35] bitemyapp commented on #787
@MaxGabriel the approach I was alluding to was nested products that would flatten the representation and repeat the columns across the tables that had them in common. Is there a reason doing that with a nested product and custom instances wouldn't work? I'll probably sketch it out into something unambiguous regardless but I'd like to know if I'm missing something here as I am pretty sure I have do

[2018-02-21 18:41] MaxGabriel commented on #787
You mean like the Haskell type would be `Address` and that would map to multiple columns in the database?

[2018-02-21 18:58] bitemyapp commented on #787
@MaxGabriel yeah I'm imagining would get manually lifted up by the enclosing type. Is that not possible in terms of the existing typeclasses? If so, that should be fixed first.

[2018-02-21 19:03] MaxGabriel commented on #787
I didn't think that was possible but I could be wrong. That would be a super useful feature for me at work so I'd be very happy to be wrong about it

[2018-02-21 19:06] bitemyapp commented on #787
@MaxGabriel okay, I may have missed something then, I'll look into it and report back. Thank you!

[2018-02-21 23:23] naushadh commented on #778
Not sure I understand. Somehow use stateful TH within `parseReferences ` to accomplish what `persistManyFileWith` externally does?

[2018-02-21 23:32] MaxGabriel commented on #778
Oh sorry I misunderstood you, I didn't realize `parseReferences` was something you were already using.

Ok so I think this should be added as a new API to Persistent for sure

[2018-02-22 02:47] harendra-kumar commented on #786
[code]

[2018-02-22 10:01] merijn commented on #783
@parsonsmatt So, do you have any opinion which of the 3 constraints I proposed would be best? Due to a paper deadline I'll have to postpone this until next week anyway, but probably shouldn't take me more than a day to actually go through the code and update everything IFF I know what I should actually update it to.

[2018-02-22 15:29] MaxGabriel commented on #786
Can you tell me the database you’re using? Also are you using persistent for migrations, and if not can you give the schema at the database level (eg SHOW CREATE TABLE in MySQL, \d+ in Postgres)

[2018-02-22 17:09] harendra-kumar commented on #786
I am using sqlite and this problem occurs without any migrations, just with a fresh DB, creating one user in the user table and accessing it crashes it. I think this should be easy to reproduce without any complicated setup and just with the minimal schema I gave above.

The ddump-splice output can perhaps help you nail down the problem. In case of `(Key RoleTable)` roleId does not remain a foreig

[2018-02-25 20:22] naushadh commented on #782
@pythonissam: [Pull#770](https://github.com/yesodweb/persistent/pull/770) added batched versions of many APIs. Might I suggest implementing `repsertManyBy` in-addition or in-lieu-of `repsertBy`?

[2018-02-26 05:31] pythonissam commented on #782
I understand:) No objection with that. I'll try.

[2018-02-26 05:50] pythonissam commented on #782
@MaxGabriel

I've fixed documents and add some examples to upsert-related functions. They are confusing and I don't know if my understanding reflects their actual behaviors. Would you review my commits?

[2018-02-27 02:07] MaxGabriel opened #792 "persist-template: Thoughts on adding a function to derive Postgres enums?"
Postgres enum support is a widely requested feature for Persistent. However, that's a moderately difficult project and hasn't seen any progress in several years.

One way users could start benefitting from Postgres enums now is by starting with support for deriving `PersistField` and `PersistFieldSql`. This wouldn't help users who are 100% relying on Persistent to generate their types, but it woul

[2018-02-27 07:40] eugenk commented on #792
I would love to have it in Database.Persist.TH.

In our project, we migrate manually, too, because we use the same database with different applications and the Haskell-based application does not set up the database at all.

[2018-02-27 07:59] psibi commented on #792
If it's just gonna work for postgres, I think it would be better to either create a postgresql specific module in `persistent-template` or add it under `persistent-postgres`.

[2018-02-27 20:38] bitemyapp commented on #792
FWIW, I wasn't happy migrations required manual review, editing, and execution but nobody generates two-step migrations.

I was seriously considering automating the "execution" part since all the migrations were forward-only and supposed to be backwards compatible with the N-1 deployment. (That's what I mean by two-step)

[2018-02-28 01:11] MaxGabriel commented on #792
@psibi I think of those two options a new module in `persistent-th` is preferable, so that `persistent-postgresql` doesn't have to depend on `persistent-template`, especially since the `derivePostgresEnum` function uses some internal functions of `persistent-th`.

[2018-02-28 17:01] Meshu commented on #697
Hello there,

I'm just a curious user evaluating haskell for a webapp chiming in to report that using persistent-template on Windows 10 with lts-10.7 still produces this issue.

[2018-03-05 08:28] tysonzero opened #794 "`withPostgresqlConn` giving Access violation error"
OS: Windows 10 Enterprise Version 1709

Stack: Version 1.6.5, Resolver 10.2

persistent 2.7.1
persistent-postgresql 2.6.2.1
postgresql-libpq 0.9.3.1
postgresql-simple 0.5.3.0

Postgres: Version 10.3

Minimal code example:

    main = runNoLoggingT . withPostgresqlConn "<connection string>" . runReaderT @SqlBackend $ pure ()

Error:

    Access violation in generated code when executing data at 000

[2018-03-05 14:54] MaxGabriel commented on #794
Sounds like a GHC bug :(

This might be the relevant ticket: https://ghc.haskell.org/trac/ghc/ticket/13112

[2018-03-05 19:22] tysonzero commented on #794
I have looked at that ticket and tried using `-fexternal-interpreter` to fix the issue, but I still get the same error. There is a good chance that is what's going on, but unfortunately I'm still in a tough spot regardless.

[2018-03-05 19:43] MaxGabriel commented on #794
Darn. I guess just comment on the GHC ticket to encourage someone to solve it?

[2018-03-06 06:26] tysonzero commented on #794
Will do. This is a pretty big blocker and may require me to switch OS's, so I hope it will be fixed soon.

[2018-03-07 09:45] ryota-ka opened #795 "[Feature request] Support custom FromJSON and ToJSON for entity keys?"
Hello.

I use Yesod + Persistent to build our application, and I'm planning to use [hashids](http://hackage.haskell.org/package/hashids) for primary key representations, since I've thought it would be nice if the traditional integer ids would be hidden from users.

I also tried to make entity keys (such as `Key User`) an instance of `FromJSON` and `ToJSON`, which encodes to / decodes from hashid r

[2018-03-07 13:50] MaxGabriel commented on #795
You can specify your own type to use for the primary key like in this example using UUIDs:

[code]

What about just creating a newtype over Int64 as your primary key type, and giving it the custom to json instance?

[2018-03-07 14:00] RyanGlScott commented on #794
@tysonzero, I am unable to reproduce the segfault with the program in https://github.com/yesodweb/persistent/issues/794#issue-302209255. (I also commented to this effect on the Trac ticket [here](https://ghc.haskell.org/trac/ghc/ticket/13112#comment:22)).

Echoing @Mistuke's comments [here](https://github.com/yesodweb/persistent/issues/697#issuecomment-338428262), one thing you could try is to bui

[2018-03-07 18:17] ryota-ka commented on #795
Thank you for your reply.

Yes, that's surely what I (unwillingly) trying to do.
However, I believe that my suggestion is not so bad, as I suppose as below.

The current implementation does not allow us to customize the behavior, nor to prohibit becoming an instance.
It involves the risk where a careless programmer makes a mistake, say, `UserId` for its newtype, and this may result in the situatio

[2018-03-07 18:24] tysonzero commented on #794
@RyanGlScott Do you have a postgresql db + associated working query string you can test it out on, with "<connection string>" verbatim I don't get an access violation error either. I can look into the` +RTS --generate-crash-dumps` thing soon, thanks.

[2018-03-07 18:27] RyanGlScott commented on #794
I have the MinGW-w64 libraries for `postgres` (`mingw-w64-x86_64-postgresql`) installed, which was necessary to build `postgres-libpq`. Other than that, I don't know what kind of setup is needed to run `persistent-postgresql` programs. In particular, I don't know what the phrase "postgresql db + associated working query string" means—can you walk me through how I'd set one up?

[2018-03-07 18:45] MaxGabriel commented on #795
Ok fair enough, I think it's worth having. Is this something you'd be interested in contributing?

[2018-03-07 19:07] Mistuke commented on #794
The problem is, that this example just isn't very minimal. The dependency chain is actually very huge. I have two suggestions to attempt to get this fixed sooner:

1) try to minimize the example by copying the definitions of the functions used into one hs file and not needing any other external library aside from `postgresql-libpq` which seems to be the lowest level binding. This would speed the p

[2018-03-07 19:22] tysonzero commented on #794
@RyanGlScott So you will need to replace `"<connection string>"` with something like `"host=localhost port=5432 dbname=yourdbname user=yourusername password=yourpassword"`. Besides that you just need to have a postgresql db running with matching dbname, username and password.

@Mistuke Alright thanks, when I get back on the windows machine in question I will look into those steps. To be clear it i

[2018-03-07 19:34] Mistuke commented on #794
@tysonzero ok, that makes it a lot easier, also doesn't seem likely to be the same bug as the one linked to.
Can you reproduce it if you compile the program with `-debug`? if so compile with that, and use `procdump.exe -t -ma -e 1 -x . <program>.exe` and upload both the exe and crash dump. Also include the exact GHC version (check GHC --info, it should give a version and git hash).

[2018-03-08 03:06] tysonzero commented on #794
@RyanGlScott

I obtained postgresql from [here](https://www.enterprisedb.com/downloads/postgres-postgresql-downloads), version 10.3.

And yeah my bad, I should have run `stack ghc -- --info`.

     ,("Project version","8.2.2")
     ,("Project Git commit id","0156a3d815b784510a980621fdcb9c5b23826f1e")
     ,("Booter version","8.0.2")

[2018-03-08 04:47] Mistuke commented on #794
Is this the same binary that created the dump? The original one is called `baseball.exe`. Did you just rename it or recompiled?

Anyway, this isn't the same issue as the TH one. This has bugcode `APPLICATION_FAULT_SOFTWARE_NX_FAULT_INVALID_POINTER_EXECUTE` it tried to execute something that's not code. It also seems to happen out of program code, likely in one of the dll dependencies. I'll continu

[2018-03-08 09:38] nmk commented on #623
Somewhat related: is there a way to get to the raw connection pool of an `SqlBackend`? I am using the PostgreSQL backend and one of the libraries I am using requires a raw [Connection](https://hackage.haskell.org/package/postgresql-simple-0.5.3.0/docs/Database-PostgreSQL-Simple-Internal.html#t:Connection). It would be nice to get one out of the already created pool, instead of creating a new conne

[2018-03-08 14:59] MaxGabriel commented on #623
I don't think so @nmk. I think adding such a function would be OK though.

[2018-03-08 15:36] ryota-ka commented on #795
Yes, of course I’m interested in it. Then I’ll try to send a pull request. Thanks!

[2018-03-08 15:56] #778 closed

[2018-03-08 16:32] MaxGabriel opened #796 "Deprecate upsert?"
The `upsert` function inserts or updates an existing record. It works fine if there's one uniqueness constraint, but if there are two it doesn't know which to use, and throws an exception. This is pretty lame: you wouldn't think that adding a new uniqueness constraint would cause a runtime exception in a related area of your code. Users should just use `upsertBy`, or if their database supports a w

[2018-03-08 16:47] psibi commented on #796
In-spite of these caveats, I would still like to use `upsert` and don't want it to be deprecated.

I would like an API in which we can explicitly specify which uniqueness column it should select.

[2018-03-08 16:55] MaxGabriel commented on #796
Sorry should have clarified: we already have that, it’s `upsertBy`. We should just direct everyone to use that

[2018-03-08 17:24] psibi commented on #796
In that case, I'm fine with it being deprecated. Never actually used `upsertBy` and I always thought it had the same caveat as `upsert`. :+1:

[2018-03-08 19:04] ryota-ka commented on #795
I attempted to define the default implementations for `keyToJSON` in `Database.Persist.Class.PersistEntity`, which extracts the internal value and utilize its `toJSON` method, but I couldn't find deconstruct a `Key` value polymorphically.
As key constructors (and even `unFooKey` functions) are defined using TH independently each other, it seems that we have no means to treat them comprehensively.

[2018-03-09 13:36] Crote opened #798 "Add Conduit < 1.3 constraint to Persistent 2.7.*"
The installation of persistent 2.7.3 (and probably lower versions as well) fails due to a compile time error: cabal resolves persistent's `conduit >=1.0` constraint to `1.3`, as that is the latest version. However, this version is not compatible. Please update this contraint to `conduit >= 1.0 && < 1.3` for those of us who are unable / unwilling to switch to MonadUnliftIO.

[2018-03-10 10:34] Mistuke commented on #794
@tysonzero I need another piece of information from you. I'm looking for the temporary object files the compiler created when building this. With `cabal` these would be in the `dist` folder, but don't know where stack places them. In Particular I'm looking for all `.o` file produced when compiling `postgres-libpq`. In particular `Database/PostgreSQL/LibPQ.o`.

[2018-03-10 14:19] RyanGlScott commented on #794
Wow, I just managed to reproduce the issue:

[code]

It appears to have a different memory address each time.

Sure enough, you have to download PostgreSQL from [here](https://www.enterprisedb.com/downloads/postgres-postgresql-downloads) in order to trigger the issue. The MinGW-w64 version does not appear to suffer from this issue.

[2018-03-10 14:50] RyanGlScott commented on #794
Here's an example which only depends on `postgresql-simple`:

[code]
[code]

I'll try to minimize this further.

[2018-03-10 19:05] RyanGlScott commented on #794
I chatted with @Mistuke about this this afternoon. He can give the full story, but the short version is that this segfault happens due to a deficiency of `ld`, which I've reported upstream as https://sourceware.org/bugzilla/show_bug.cgi?id=22948.

For the time being, I believe the proper way to work around this is to change `postgresql-libpq` to link against `libpq` instead of `pq`. I've submitted

[2018-03-10 21:03] Mistuke commented on #794
As @RyanGlScott mentioned, this isn't a bug in GHC. The issue can be explained by this simple C program

[code]

The idea of which is to print the address of the function.

Compiling it against the "official" distribution and the mingw-w64 one you get

[code]

As you see, the first one results in the function being in a significantly larger memory offset. In this case it still fitted, however...

[2018-03-10 23:48] MaxGabriel commented on #783
Pinging @parsonsmatt to respond to @merijn on this

[2018-03-10 23:53] MaxGabriel commented on #798
Ok, I added a revision to 2.7.1, 2.7.3, 2.7.3.1 with the < 1.3 constraint. Can you tell me if that fixes it for you?

[2018-03-11 11:21] snoyberg opened #800 "Drop dependency on http-api-data"
Due to issue https://github.com/fizruk/http-api-data/issues/72 causing trouble for Stack moving to Cabal 2.2. Raising as issue first to see if anyone has an objection.

[2018-03-11 15:37] MaxGabriel commented on #800
It seems like a potentially decent sized breaking change; that package derives `To`/`FromHttpApiData` for keys in Persistent and `PersistValue`. There are a decent number of packages using http-api-data as a reverse dependency (https://www.stackage.org/lts-10.9/package/http-api-data-0.3.7.2/revdeps), notably Servant.

Don't think it affects me personally, though

[2018-03-11 17:48] MaxGabriel commented on #800
That said: I don't understand the reasoning why http-api-data doesn't support Cabal 2.2.

[2018-03-11 18:05] parsonsmatt commented on #783
I would prefer `BackendCompatible SqlBackend backend` to `(BaseBackend backend ~ SqlBackend)`, as it more directly communicates the intent.

[2018-03-11 19:18] psibi commented on #800
I don't have strong opinions either way. But this is the thing that needs to be undo'ed if we plan to implement it: https://github.com/yesodweb/persistent/pull/490/files

[2018-03-12 01:50] RyanGlScott commented on #794
Actually, [`postgresql-libpq-0.9.4.1`](http://hackage.haskell.org/package/postgresql-libpq-0.9.4.1) was just released with a workaround for this issue! So you might be able to get by with just that.

[2018-03-12 10:24] hvr commented on #800
https://github.com/commercialhaskell/stack/issues/3866

[2018-03-12 13:27] MaxGabriel commented on #800
@hvr If I understand correctly this particular issue is about building stack with cabal, so a custom stack patch wouldn’t fix things

[2018-03-12 15:34] Meshu commented on #794
Wow, thank you very much to every one in this thread for such diligent and masterful bug hunting.
Bonus points for being educational at the same time, learnt a couple new things !

[2018-03-12 16:02] MaxGabriel commented on #794
Yeah, this was pretty awesome to watch unfold!

[2018-03-12 16:05] RyanGlScott commented on #697
@AlexanderHarley, does the issue persist if you build against [`postgresql-libpq-0.9.4.1`](http://hackage.haskell.org/package/postgresql-libpq-0.9.4.1)? That release has a workaround for a very similar issue, #794, so I'd be curious to know if you still experience this issue with it.

[2018-03-12 22:46] naushadh commented on #800
I don't have any objections. I personally prefer to keep db types and web-service types separate (latter generally requiring longer stability).

Though https://github.com/fizruk/http-api-data/pull/73 did get merged+released.